{% extends doporucene_veci.html %}
{% block FUN %}
<tr>
                         <td>1</td>
                         <td>Me, Myself and I</td>
                         <td>A great place to start</td>
                         <td><a href="http://tim.blog/" target="_blank">Blog</a></td>
                         <td>TEST</td>
                      </tr>
                      <tr>
                         <td>2</td>
                         <td>Elon Musk</td>
                         <td>Future is now</td>
                         <td><a href="http://www.teslafan.cz/" target="_blank">TeslaFan</a</td>
                         <td>
                            TEST
                        </td>
                      </tr>
{% endblock %}