<tr>
                         <td>1</td>
                         <td>Dominic Mann</td>
                         <td>17 Anti-Procrastination Hacks</td>
                         <td><a href="https://www.amazon.co.uk/17-Anti-Procrastination-Hacks-Overcome-Procrastination/dp/1519061080/ref=sr_1_fkmr2_1?s=books&ie=UTF8&qid=1495984141&sr=1-1-fkmr2&keywords=advanced+procrastination+hacks" target="_blank">Amazon link</a></td>
                         <td>Self-Development, Life Hacks</td>
                      </tr>
                      <tr>
                         <td>2</td>
                         <td>Dale Carnegie</td>
                         <td>How to win friends and influence people</td>
                         <td><a href="https://www.amazon.co.uk/d/Books/How-Win-Friends-Influence-People-Dale-Carnegie/0091906814" target="_blank">Amazon link</a></td>
                         <td>Self-Development, Life skills</td>
                      </tr>