    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					Welcome to news section!
				</h2>
				<p>
					This part of the blog currently serves as a changelog. Stay tuned for further updates.
				</p>
			</div>
			<div class="panel-group" id="panel-79027">
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-79027" href="#panel-element-350064">Collapsible Group Item #1</a>
					</div>
					<div id="panel-element-350064" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="row">
                            <div class="col-md-5">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                #
                                            </th>
                                            <th>
                                                Product
                                            </th>
                                            <th>
                                                Payment Taken
                                            </th>
                                            <th>
                                                Status
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                TB - Monthly
                                            </td>
                                            <td>
                                                01/04/2012
                                            </td>
                                            <td>
                                                Default
                                            </td>
                                        </tr>
                                        <tr class="active">
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                TB - Monthly
                                            </td>
                                            <td>
                                                01/04/2012
                                            </td>
                                            <td>
                                                Approved
                                            </td>
                                        </tr>
                                        <tr class="success">
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                TB - Monthly
                                            </td>
                                            <td>
                                                02/04/2012
                                            </td>
                                            <td>
                                                Declined
                                            </td>
                                        </tr>
                                        <tr class="warning">
                                            <td>
                                                3
                                            </td>
                                            <td>
                                                TB - Monthly
                                            </td>
                                            <td>
                                                03/04/2012
                                            </td>
                                            <td>
                                                Pending
                                            </td>
                                        </tr>
                                        <tr class="danger">
                                            <td>
                                                4
                                            </td>
                                            <td>
                                                TB - Monthly
                                            </td>
                                            <td>
                                                04/04/2012
                                            </td>
                                            <td>
                                                Call in to confirm
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-6">
                                <dl>
                                    <dt>
                                        Description lists
                                    </dt>
                                    <dd>
                                        A description list is perfect for defining terms.
                                    </dd>
                                    <dt>
                                        Euismod
                                    </dt>
                                    <dd>
                                        Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                                    </dd>
                                    <dd>
                                        Donec id elit non mi porta gravida at eget metus.
                                    </dd>
                                    <dt>
                                        Malesuada porta
                                    </dt>
                                    <dd>
                                        Etiam porta sem malesuada magna mollis euismod.
                                    </dd>
                                    <dt>
                                        Felis euismod semper eget lacinia
                                    </dt>
                                    <dd>
                                        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                                    </dd>
                                </dl>
                            </div>
                        </div>
            		</div>
            	    </div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-79027" href="#panel-element-776885">Collapsible Group Item #2</a>
					</div>
					<div id="panel-element-776885" class="panel-collapse collapse">
						<div class="panel-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>