{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					Vítejte na souhrnu doporučených věcí!
				</h2>
				<p>
					Tato stránka slouží pro shrnutí důležitých publikací, odkazů a stránek. Jelikož se odkazy neustále mění, použijte prosím Google pro hledání níže uvedených bodů.
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail  modalform">
						<img alt="Bootstrap Thumbnail First" src="static/img/Doporucene_veci/general.jpg">
						<div class="caption">
							<h3>
								General suggestions, start here
							</h3>
							<p>
								Mnoho odkazů jsem získal z těchto zdrojů.
							</p>
							<p>
								<a class="btn btn-success" id="open" data-toggle="modal" data-target="#general">Více</a> <a class="btn" href="#">Action</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="Bootstrap Thumbnail Second" src="static/img/Doporucene_veci/read.jpg">
						<div class="caption">
							<h3>
								Must read
							</h3>
							<p>
							     Dle mého názoru povinná literatura 21. století.
							<p>
								<a class="btn btn-success" data-toggle="modal" data-target="#read">Více</a> <a class="btn" href="#">Action</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="Bootstrap Thumbnail Third" src="static/img/Doporucene_veci/people.jpg">
						<div class="caption">
							<h3>
								People to follow
							</h3>
							<p>
								Elon Musk, Tim Ferris a další.
							</p>
							<p>
								<a class="btn btn-success" href="#">Více</a> <a class="btn" href="#">Action</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="Bootstrap Thumbnail First" src="static/img/Doporucene_veci/psychology.jpg">
						<div class="caption">
							<h3>
								Social / Psychology
							</h3>
							<p>
								V dnešním světě dovednosti k nezaplacení.
							</p>
							<p>
								<a class="btn btn-success" href="#">Více</a> <a class="btn" href="#">Action</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="Bootstrap Thumbnail Second" src="static/img/Doporucene_veci/service.jpg">
						<div class="caption">
							<h3>
								Services / Tools
							</h3>
							<p>
								Služby, které Vám pomůžou.
							</p>
							<p>
								<a class="btn btn-success" href="#">Více</a> <a class="btn" href="#">Action</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="Bootstrap Thumbnail Third" src="static/img/Doporucene_veci/fun.jpg">
						<div class="caption">
							<h3>
								Fun stuff / Interesting web pages
							</h3>
							<p>
							     Cokoliv, co mi přijde na internetu zajímavé.
							</p>
							<p>
								<a class="btn btn-success" href="#">Více</a> <a class="btn" href="static/img/blender.png">Blender cheat sheet</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Start Modal-->
<div class="modal fade" id="general" tabindex="-1" role="dialog" aria-labelledby="generalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-toggle="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>Místo pro tabulku
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-simple" data-toggle="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--End Modal-->
{% endblock %}