{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
 <div class="row">
  <div class="col-md-12">
   <div class="carousel slide" id="carousel-753592">
    <ol class="carousel-indicators">
     <li class="active" data-slide-to="0" data-target="#carousel-753592">
     </li>
     <li data-slide-to="1" data-target="#carousel-753592">
     </li>
     <li data-slide-to="2" data-target="#carousel-753592">
     </li>
    </ol>
    <div class="carousel-inner">
     <div class="item active">
      <img alt="Carousel Bootstrap First" src="static/img/APH/carousel1.jpg">
       <div class="carousel-caption">
        <h2 class="text-warning">
         <strong>
          Zjistěte př&iacute;činy prokrastinace
         </strong>
        </h2>
       </div>
      </img>
     </div>
     <div class="item">
      <img alt="Carousel Bootstrap Second" src="static/img/APH/carousel2.jpg">
       <div class="carousel-caption">
        <h2 class="text-danger">
         <strong>
          Odhalte spr&aacute;vn&eacute; n&aacute;stroje
                                pro boj s prokrastinac&iacute;
         </strong>
        </h2>
       </div>
      </img>
     </div>
     <div class="item">
      <img alt="Carousel Bootstrap Third" src="static/img/APH/carousel3.jpg">
       <div class="carousel-caption">
        <h2>
         <strong>
          Pracujte na sv&yacute;ch snech
         </strong>
        </h2>
       </div>
      </img>
     </div>
    </div>
    <a class="left carousel-control" data-slide="prev" href="#carousel-753592">
     <span class="glyphicon glyphicon-chevron-left">
     </span>
    </a>
    <a class="right carousel-control" data-slide="next" href="#carousel-753592">
     <span class="glyphicon glyphicon-chevron-right">
     </span>
    </a>
   </div>
   <div class="page-header">
    <h1>
     Advanced Procrastination Hacks
     <br/>
     <small>
      aneb jak vyzr&aacute;t na prokrastinaci
     </small>
    </h1>
   </div>
   <div class="row">
    <div class="col-md-6">
     <h3 id="sec1">
      Proč inteligent&iacute; lid&eacute; prokrastinuj&iacute;
     </h3>
     <p class="text-justify">
      Ten kdo je neschopen předv&iacute;dat jak těžk&aacute;, &uacute;navn&aacute; a naplňuj&iacute;c&iacute; bude jeho &uacute;loha, nikdy na prokrastinaci ani nepomyslel. 
                    Ironicky pr&aacute;vě proto inteligentn&iacute; lid&eacute; v&iacute;ce pociťuj&iacute; nutk&aacute;n&iacute; k prokrastinaci. Řeknou si: "To bude nuda. Bude to složit&eacute;, co když uděl&aacute;m chybu? Nechci to dělat, nebav&iacute; mě to!" A poř&aacute;d a poř&aacute;d dokola. Na&scaron;e samotn&aacute; mysl n&aacute;s bojkotuje, demotivuje pro nast&aacute;vaj&iacute;c&iacute; pr&aacute;ci. 
                    Dok&aacute;žeme se i dostat do vlastn&iacute; psychologick&eacute; cely, to v&scaron;e jen d&iacute;ky tomu, že nad na&scaron;imi &uacute;lohami moc přem&yacute;&scaron;l&iacute;me. Mluvou dům nepostav&iacute;&scaron;.
      <br/>
      Jak&eacute; je tedy ře&scaron;en&iacute;?
     </p>
     <h3 id="sec2">
      N&aacute;vyk N&aacute;sleduj&iacute;c&iacute; Akce
     </h3>
     <p class="text-justify">
      Nejjednodu&scaron;&scaron;&iacute; je asi om&aacute;mit vlastn&iacute; mysl. K tomu může b&yacute;t dobr&yacute; třeba alkohol, av&scaron;ak my si jen vezmeme tuto ideu a přeneseme ji na n&aacute;sleduj&iacute;c&iacute; metodu.
                    Přesuňte sv&eacute; soustředěn&iacute; od velk&yacute;ch celků (nap&iacute;&scaron;u blog) na malou akci, kter&aacute; ke konečn&eacute;mu v&yacute;sledku přispěje (nap&iacute;&scaron;u odstavec sv&eacute;ho prvn&iacute;ho čl&aacute;nku). 
                    Toto je jedna z nejefektivněj&scaron;&iacute;ch metod boje s prokrastinac&iacute;, jelikož přen&aacute;&scaron;&iacute;te sv&eacute; soustředěn&iacute; od zd&aacute;nlivě ohromn&yacute;ch probl&eacute;mů na &uacute;lohy, kter&eacute; va&scaron;e mysl vyhodnot&iacute; jako uskutečniteln&eacute;. Va&scaron;e mysl si s radost&iacute; řekne: "To zvl&aacute;dnu, v pohodě, to je přece jednoduch&eacute;!"
                    Přestože se vlastně nic ve skutečnosti nezměnilo (pracujete/nepracujte na sv&eacute;m projektu), tato změna pohledu učin&iacute; velk&yacute; rozd&iacute;l.
      <br/>
      Takže, př&iacute;&scaron;tě až budete c&iacute;tit nutk&aacute;n&iacute; prokrastinovat během va&scaron;&iacute; pr&aacute;ce, rozložte si ji na men&scaron;&iacute; jednodu&scaron;&scaron;&iacute; jednotky.
     </p>
    </div>
    <div class="col-md-6">
     <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-11">
       <img class="img-rounded img-responsive" src="static/img/APH/text1.jpg">
       </img>
      </div>
     </div>
    </div>
   </div>
   <div class="row">
    <div class="col-md-6">
     <h3 id="sec3">
      Setrvačnost: Fyzika a Produktivita
     </h3>
     <p class="text-justify">
      "Těleso zůst&aacute;v&aacute; v klidu nebo rovnoměrn&eacute;m př&iacute;močar&eacute;m pohybu, nen&iacute;-li nuceno vněj&scaron;&iacute;mi silami tento stav změnit." - Isaac Newton
      <br/>
      Newtonův prvn&iacute; pohybov&yacute; z&aacute;kon se v&scaron;ak stahuje na v&iacute;ce věc&iacute; než jen nehybn&eacute; předměty. Produktivn&iacute; lid&eacute; vět&scaron;inou zůst&aacute;vaj&iacute; produktivn&iacute;. Udělaj&iacute; jednu věc, pak dal&scaron;&iacute; a dal&scaron;&iacute;. Buduj&iacute; svoji setrvačnost a ta je žene vpřed.
                    Stejně tak prokrastinuj&iacute;c&iacute; lid&eacute; zůst&aacute;vaj&iacute; prokrastin&aacute;tory dokud nez&iacute;skaj&iacute; trochu t&eacute; setrvačnosti j&iacute;t t&iacute;m spr&aacute;vn&yacute;m směrem.
                    Proto je i n&aacute;vyk n&aacute;sleduj&iacute;c&iacute; akce tak efektivn&iacute;. Zač&iacute;t je nejtěž&scaron;&iacute; č&aacute;sti cel&eacute; &uacute;lohy. Jedna akce vede k druh&eacute; a než si to uvědom&iacute;te, už se vezete na vlně setrvačnosti.
                    Proto si mnoho &uacute;spě&scaron;n&yacute;ch vůdců a podnikatelů vyvinulo silně motivuj&iacute;c&iacute; a nabuzuj&iacute;c&iacute; rann&iacute; ritu&aacute;ly. T&iacute;m že nastartuj&iacute; svůj den již r&aacute;no, vezou se n&aacute;sledně na vlně setrvačnosti skrz cel&yacute; den.
      <br/>
      St&aacute;v&aacute;me se t&iacute;m nad č&iacute;m přem&yacute;&scaron;l&iacute;me. Where you focus goes, your energy flows.
     </p>
    </div>
    <div class="col-md-6">
     <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-11">
       <img class="img-rounded img-responsive" src="static/img/APH/text2.jpg">
       </img>
      </div>
     </div>
    </div>
   </div>
   <div class="row">
    <div class="col-md-12">
     <h3 id="sec4">
      To-Do List: znovu a l&eacute;pe
     </h3>
     <p class="text-justify">
      Vět&scaron;ina &uacute;kolů, kter&eacute; si lid&eacute; p&iacute;&scaron;&iacute; do di&aacute;řů děl&aacute; již automaticky va&scaron;&iacute; mysli peklo na zemi.
                    Nap&iacute;&scaron;&iacute; si věci jako "Vyř&iacute;dit daně" nebo "Měs&iacute;čn&iacute; zpr&aacute;va". Jak učinit v&aacute;&scaron; di&aacute;ř lahodn&yacute;m va&scaron;&iacute; mysli?
                    Uvědomte si, že v &uacute;koln&iacute;čc&iacute;ch se vyskytuj&iacute; věci, kter&eacute; v&aacute;s buď přitahuj&iacute; (posezen&iacute; s př&aacute;teli) nebo odpuzuj&iacute; (formul&aacute;ře, povinnosti). &Uacute;lohy učin&iacute;te zaj&iacute;mavěj&scaron;&iacute;mi tak, že je přetvoř&iacute;te na akčn&iacute; a r&aacute;zn&eacute;. M&iacute;sto "Ps&aacute;t diplomku" si zapi&scaron;te "Napsat odstavec o ...". Přece mus&iacute;te uznat, že druh&aacute; varianta je př&iacute;větivěj&scaron;&iacute;.
                    Eliminujte prokrastinaci soustředěn&iacute;m se pouze na mal&eacute; &uacute;lohy, na va&scaron;i dal&scaron;&iacute; akci. Učiňte je jednoduch&yacute;mi, snadn&yacute;mi a akčn&iacute;mi. Opakujte a zjist&iacute;te, že z&iacute;sk&aacute;te touženou setrvačnost.
      <br/>
      <br/>
     </p>
    </div>
   </div>
   <div class="row">
    <div class="col-md-6">
     <div class="row">
      <div class="col-md-11">
       <img class="img-rounded img-responsive" src="static/img/APH/text3.jpg">
       </img>
      </div>
      <div class="col-md-1">
      </div>
     </div>
    </div>
    <div class="col-md-6">
     <h3 id="sec5">
      Dvouminutov&eacute; Pravidlo
     </h3>
     <p class="text-justify">
      V průběhu dn&iacute; se často vyh&yacute;b&aacute;me mal&yacute;m &uacute;konům, jako je např&iacute;klad um&yacute;t n&aacute;dob&iacute;, odpov&iacute;dat na emaily, pr&aacute;t aj. Nejl&eacute;pe na v&iacute;kend se n&aacute;m tyto věci nakup&iacute; a chce to hodně snahy v&scaron;echno dohnat. Nikdo nechce str&aacute;vit v&iacute;kend pran&iacute;m a žehlen&iacute;m nasb&iacute;ran&eacute;ho pr&aacute;dla za měs&iacute;c, a tedy zase prokrastinujeme.
      <br/>
      Tady nastupuje dvouminutov&eacute; pravidlo. Pokud něco zvl&aacute;dnete za 2 minuty, udělejte to hned. Proti intuici si t&iacute;mto aktem u&scaron;etř&iacute;te spoustu času.
      <br/>
      Toto pravidlo se vztahuje i na n&aacute;vyky. Pokud se snaž&iacute;te vytvořit nov&yacute; n&aacute;vyk, ujistěte se, že z poč&aacute;tku nezab&iacute;r&aacute; v&iacute;ce jak 2 minuty. Jinak budete m&iacute;t, hlavně z poč&aacute;tku, velk&yacute; probl&eacute;m se k němu donutit, nav&iacute;c pokud je v&aacute;m nepř&iacute;jemn&yacute;.
                        Jakmile budete použ&iacute;vat toto pravidlo del&scaron;&iacute; dobu, zjist&iacute;te, že st&iacute;h&aacute;te. &Uacute;lohy se v&aacute;m nebudou hromadit do dvouhodinov&yacute;ch pracovn&iacute;ch bloků, kter&eacute; si koleduj&iacute; o to, aby jste m&iacute;sto nich prokrastinovali.
                        Pokud chcete j&iacute;st zdravě, vemte si ovoce a snězte jej, zabere to m&eacute;ně jak 2 minuty. Udělejte tak každ&yacute; den a přistihnete se že nahrazujete sodu za vodu a k j&iacute;dlu si uděl&aacute;te jako př&iacute;lohu sal&aacute;t, sladkosti nahrad&iacute;te ovocem. Podobně pokud si chcete navyknout denně č&iacute;st, přečtěte si prvn&iacute; stranu knihy. V r&aacute;mci setrvačnosti si ani neuvědom&iacute;te, že m&aacute;te celou kapitolu za sebou. Co třeba běh&aacute;n&iacute;? Nen&iacute; probl&eacute;m. Nasaďte si běžeck&eacute; boty a jděte před dveře - to by v&aacute;m mělo zabrat m&eacute;ně jak 2 minuty - no a když už tam jste, setrvačnost&iacute; si d&aacute;te 20 minut běhu a je&scaron;tě si přid&aacute;te 30 dřepů.
                        Prokrastinace je t&eacute;měř vždy vyře&scaron;ena, když učin&iacute;te prvn&iacute; krok. Největ&scaron;&iacute; přek&aacute;žkou je zač&iacute;t, tak proč si to nezjednodu&scaron;it!?
      <br/>
      A journey of thousand miles must begin with a single step.
      <br/>
      Udělejte jeden klik, umyjte si jeden zub, snězte jedno jablko, napi&scaron;te prvn&iacute;ch 5 slov čl&aacute;nku. Jakmile začnete, jedno jak mal&aacute; nebo nev&yacute;znamn&aacute; akce se to zd&aacute;la, "rozjedete" se. Jedna věc vede k druh&eacute;, nabudete setrvačnosti. Naschle prokrastinace. Ale ona se zase vr&aacute;t&iacute;! Jakmile tak nastane, znovu užijte dvouminutov&eacute; pravidlo, restartujte, jeďte znovu. V zač&aacute;tc&iacute;ch v&scaron;ak toto berte s rezervou, mohli by jste dostat &scaron;ok :D.
                        Udělejte jeden krok. Ten prvn&iacute;, nejdůležitěj&scaron;&iacute;. To je to, na čem z&aacute;lež&iacute;.
     </p>
    </div>
   </div>
   <div class="row">
    <div class="col-md-6">
     <div class="row">
      <div class="col-md-11">
       <img class="img-rounded img-responsive" src="static/img/APH/text4.jpg">
       </img>
      </div>
      <div class="col-md-1">
      </div>
     </div>
    </div>
    <div class="col-md-6">
     <h3 id="sec6">
      Velk&eacute; C&iacute;le a Mal&eacute; Kv&oacute;ty
     </h3>
     <p class="text-justify">
      M&aacute;te velk&eacute; sny? Co pro ně děl&aacute;te? Oček&aacute;v&aacute;te, že jednou k nim sednete a spln&iacute;te je?
      <br/>
      Lep&scaron;&iacute;m př&iacute;stupem jsou velk&eacute; c&iacute;le a mal&eacute; kv&oacute;ty. Uk&aacute;žeme si to na př&iacute;kladu spisovatele.
      <br/>
      Chcete b&yacute;t popul&aacute;rn&iacute;m spisovatelem, kter&yacute; vyd&aacute; alespoň 2 &uacute;spě&scaron;n&eacute; knihy ročně. Toto je v&aacute;&scaron; c&iacute;l, zd&aacute;nlivě stra&scaron;liv&yacute; a neuskutečniteln&yacute;. Každ&yacute; den v&scaron;ak budete ps&aacute;t 30 minut rozdělen&yacute;ch na 15ti minutov&eacute; &uacute;seky. S t&iacute;mto př&iacute;stupem dostanete každ&yacute;ch 15 minut motivuj&iacute;c&iacute; pocit &uacute;spěchu. N&eacute; za měs&iacute;ce, kdy už bude m&iacute;t konečně dops&aacute;no. Mal&eacute; indik&aacute;tory &uacute;spěchu, kter&eacute; vedou k va&scaron;im c&iacute;lům v&aacute;s donut&iacute; dělat v&iacute;ce a v&iacute;ce. Opět z&iacute;sk&aacute;te setrvačnost a budete m&iacute;t vět&scaron;&iacute; &scaron;anci dokončit v&aacute;&scaron; &uacute;kol.
                        Zadruh&eacute;, tyto mal&eacute; &uacute;spěchy v&aacute;s budou popoh&aacute;nět a rychle se převedou do povědom&iacute;, že dneska jste byli &scaron;ikovn&iacute; a produktivn&iacute;.
      <br/>
      Jedna z nejčastěj&scaron;&iacute;ch př&iacute;čin prokrastinace je pocit, že je toho na v&aacute;s moc, že jste zavaleni va&scaron;&iacute;m &uacute;kolem. Neznamen&aacute; to v&scaron;ak, že bychom neměli m&iacute;t velk&eacute; sny nebo &uacute;koly představuj&iacute;c&iacute; v&yacute;zvu. Každ&yacute; z v&aacute;s si najděte meze sv&eacute; mal&eacute; kv&oacute;ty, jež vede k velk&eacute;mu c&iacute;li.
                        Pokud se jedn&aacute; o velk&eacute; projekty, toto je nejlep&scaron;&iacute; př&iacute;stup uk&aacute;zat prokrastinaci z&aacute;da.
     </p>
    </div>
   </div>
   <div class="row">
    <div class="col-md-6">
     <h3 id="sec7">
      Časov&eacute; Bloky
     </h3>
     <p class="text-justify">
      Pokud si přesně nenapl&aacute;nujete aktivitu, prokrastinace se st&aacute;v&aacute; jednoduchou.
                    Zaprv&eacute;, rozhodněte se, co konkr&eacute;tně mus&iacute;te udělat. (Aktivita typu dělat věci do &scaron;koly je &scaron;patn&aacute;)
                    Zadruh&eacute;, vyčleňte si čas (adekv&aacute;tně mal&yacute;), m&iacute;sto a přem&yacute;&scaron;lejte jak přesně danou aktivitu budete dělat.
                    Zatřet&iacute;, eliminujte v&scaron;e ostatn&iacute;. Mobil do režimu letadla, zablokujte určit&eacute; str&aacute;nky skrz aplikace, odstraňte ru&scaron;iv&eacute; elementy. Pokud můžete, odpojte internet, vypněte televizi. Během pr&aacute;ce na poč&iacute;tači je nutk&aacute;n&iacute; k prokrastinaci obzvl&aacute;&scaron;tě poku&scaron;uj&iacute;c&iacute;. Jakmile se &uacute;kol zd&aacute; nudn&yacute;m či obt&iacute;žn&yacute;m, prokrastinov&aacute;n&iacute; je jen z&aacute;ložku vedle. Učiňte tuto možnost obt&iacute;žnou.
      <br/>
      Pokud opravdu potřebujete použ&iacute;vat internet, j&aacute; osobně použ&iacute;v&aacute;m Go Fucking Work, d&iacute;ky kter&eacute;mu si zablokujete prokrastinuj&iacute;c&iacute; str&aacute;nky, a d&aacute;le Rescue Time zaznamen&aacute;vaj&iacute;c&iacute; dobu, kterou jste str&aacute;vili na různ&yacute;ch str&aacute;nk&aacute;ch a v programech.
                    Pointa je takov&aacute;to: Abyste opravdu překonali prokrastinaci a něco dělali, mus&iacute;te se k tomu opravdu zav&aacute;zat. Vyberte si čas a m&iacute;sto, odstraňte ru&scaron;iv&eacute; elementy a nedejte si &scaron;anci dělat něco jin&eacute;ho než to co pr&aacute;vě mus&iacute;te.
     </p>
    </div>
    <div class="col-md-6">
     <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-11">
       <img class="img-rounded img-responsive" src="static/img/APH/text5.jpg">
       </img>
      </div>
     </div>
    </div>
   </div>
   <div class="row">
    <div class="col-md-6">
     <h3 id="sec8">
      Metoda Zadek v Křesle
     </h3>
     <p class="text-justify">
      Obzvl&aacute;&scaron;tě mezi spisovateli knih je tato 100 % efektivn&iacute; anti-prokrastinačn&iacute; strategie popul&aacute;rn&iacute;. Spoč&iacute;v&aacute; v tom, že si vymez&iacute;te časov&yacute; &uacute;sek pro pr&aacute;ci a sednete si do křesla. Bez jak&eacute;hokoliv vyru&scaron;en&iacute;, bez ničeho. V&scaron;e d&aacute;te pryč nebo vypnete, kromě toho, co m&aacute;te dělat. Mohli by jste tam jen tak sedět a nedělat nic, av&scaron;ak stejně nakonec začnete ps&aacute;t. Pak nastane setrvačnost a opět v&aacute;s to přestane bavit. Chv&iacute;li nic neděl&aacute;te a pak v&aacute;m to ned&aacute; a zase začnete. T&eacute;měř vždy po konci va&scaron;eho časov&eacute;ho &uacute;seku budete m&iacute;t p&aacute;r str&aacute;nek napsan&yacute;ch.
      <br/>
      Nejste spisovateli? Nevad&iacute;. To že se zav&aacute;žete k bloku nevyru&scaron;en&eacute;ho času pro pr&aacute;ci na specifick&eacute;m &uacute;kolu je jeden z nejefektivněj&scaron;&iacute;ch anti-prokrastinačn&iacute;ch prostředků.
                        Podobn&yacute; stav navod&iacute; i let letadlem. Jelikož v&aacute;s nic neotravuje a nem&aacute;te se č&iacute;m zabavit, začnete pracovat. Tento stav si můžete imagin&aacute;rně navodit při dovolen&eacute;. V&scaron;echny vymoženosti vypněte, a nedejte si možnost dělat něco jin&eacute;ho než to, co m&aacute;te.
     </p>
    </div>
    <div class="col-md-6">
     <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-11">
       <img class="img-rounded img-responsive" src="static/img/APH/text6.jpg">
       </img>
      </div>
     </div>
    </div>
   </div>
   <div class="row">
    <div class="col-md-6">
     <h3 id="sec9">
      Vytvořte si "To-Do List" Rozptylov&aacute;n&iacute;
     </h3>
     <p class="text-justify">
      Jakmile se začneme rozptylovat, průměrně trv&aacute; 25 minut než se vr&aacute;t&iacute;me k na&scaron;&iacute; přede&scaron;l&eacute; pr&aacute;ci a je&scaron;tě k tomu dal&scaron;&iacute;ch 25 minut abychom z&iacute;skali podobn&eacute; soustředěn&iacute;, kter&eacute; jsme měli před rozpt&yacute;len&iacute;m.
      <br/>
      Na&scaron;těst&iacute; existuje ře&scaron;en&iacute;. Jakmile v&aacute;s něco napadne co byste chtěli zjistit nebo č&iacute;m se rozpt&yacute;lit, zapi&scaron;te si to na pap&iacute;r a hned se vraťte k přede&scaron;l&eacute; &uacute;loze. Později, až budete m&iacute;t v&scaron;echny důležit&eacute; &uacute;koly splněny se k tomuto pap&iacute;ru vraťte a plně se mu věnujte.
     </p>
    </div>
    <div class="col-md-6">
     <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-11">
       <img class="img-rounded img-responsive" src="static/img/APH/text7.jpg">
       </img>
      </div>
     </div>
    </div>
   </div>
   <div class="row">
    <div class="col-md-12">
     <h3 id="sec10">
      Metoda (10+2)*5
     </h3>
     <p class="text-justify">
      Pokud jste Master Prokrastin&aacute;tor a nejste si jisti, jestli jste připraveni na dlouh&eacute; časov&eacute; bloky či jste neschopni použ&iacute;t metodu zadku v křesle, tohle bude přesně pro v&aacute;s.
      <br/>
      Potřebujete: &Uacute;koln&iacute;ček, Časovač (i internetov&yacute;)
      <br/>
      Jak to funguje: Sednete si, nastav&iacute;te časovač na 10 minut a pracujete bez rozpt&yacute;len&iacute; dokud čas nevypr&scaron;&iacute;. Během 10 minut dělejte jen zadanou pr&aacute;ci, nic jin&eacute;ho. Je to přece jen 10 minut. N&aacute;sledně m&aacute;te 2 minuty na to dělat co chcete (nejl&eacute;pe vstaňte a změňte aktivitu). Přesně 2 minuty. Čas vypr&scaron;el, připravte se na dal&scaron;&iacute;ch 10 minut pr&aacute;ce. Opakujte.
                    Co ale to *5? Měli by jste tento cyklus 5x opakovat, aby jste doc&iacute;lili 60 minut pr&aacute;ce a kr&aacute;tk&yacute;ch přest&aacute;vek.
      <br/>
      Pointou je učinit prokrastinaci m&eacute;ně l&aacute;kavou. Jenom 10 minut, jednoduch&eacute;. Nav&iacute;c tyto chaotick&eacute; změny ve v&aacute;s vyvolaj&iacute; to, že se budete tě&scaron;it na pauzy i na pr&aacute;ci!
                    Postupem času budete pauzy přeskakovat protože v&aacute;s budou vyru&scaron;ovat při pr&aacute;ci.
      <br/>
      Takže znovu. Zač&iacute;t, vybudovat setrvačnost, nechat se strhnout svou prac&iacute;. Tato metoda je fajn v tom, že je pr&aacute;vě jednoduch&eacute; zač&iacute;t.
     </p>
    </div>
   </div>
   <div class="row">
    <div class="col-md-6">
     <div class="row">
      <div class="col-md-11">
       <img class="img-rounded img-responsive" src="static/img/APH/text8.jpg">
       </img>
      </div>
      <div class="col-md-1">
      </div>
     </div>
    </div>
    <div class="col-md-6">
     <h3 id="sec11">
      Využijte uz&aacute;věrek
     </h3>
     <p class="text-justify">
      Nějak&yacute;m z&aacute;hadn&yacute;m způsobem jsou studenti vysok&yacute;ch &scaron;kol schopni zpracovat semestr&aacute;ln&iacute; projekt za jedin&yacute; den ( a noc). Beze srandy, jak to dělaj&iacute;? Term&iacute;ny.
                    Nemůžeme před nimi ut&eacute;ct, nen&iacute; se kde skr&yacute;t, nejde je ovlivnit. Využijte je!
      <br/>
      Vytvořte si vlastn&iacute; na www.stickk.com. Vsaďte si na sebe, donuťte se pracovat na dan&eacute;m &uacute;kolu nebo přijdete o pen&iacute;ze. Dokonce se můžete vsadit, že pen&iacute;ze půjdou na charitu kterou nesn&aacute;&scaron;&iacute;te. Podle mě skvěl&yacute; n&aacute;pad!
     </p>
    </div>
   </div>
   <div class="row">
    <div class="col-md-6">
     <div class="row">
      <div class="col-md-11">
       <img class="img-rounded img-responsive" src="static/img/APH/text9.jpg">
       </img>
      </div>
      <div class="col-md-1">
      </div>
     </div>
    </div>
    <div class="col-md-6">
     <h3 id="sec12">
      Zastřelte sv&eacute;ho vnitřn&iacute;ho Perfekcionistu
     </h3>
     <p class="text-justify">
      Nejv&yacute;znamněj&scaron;&iacute; př&iacute;činou prokrastinace je "paral&yacute;za z anal&yacute;zy" aneb byt&iacute; perfekcionistou.
                    Neust&aacute;le se uč&iacute;me, z&iacute;sk&aacute;v&aacute;me zku&scaron;enosti a zlep&scaron;ujeme se. Nikdy v&scaron;ak nejsme perfektn&iacute;. Splněn&eacute; je lep&scaron;&iacute; než perfektn&iacute;. Obrazy Leonarda da Vinci jsou nedokončen&eacute;. Přesto se v&scaron;ak rozhodl že udělat něco je lep&scaron;&iacute; než nic. Začněte a neohl&iacute;žejte se, časem se zlep&scaron;&iacute;te a možn&aacute; se k prefektn&iacute;mu přibl&iacute;ž&iacute;te, ov&scaron;em z patra? Zapomeňte.
     </p>
     <blockquote>
      <p>
       You can&acute;t edit a blank page.
      </p>
      <small>
       Jodi Picoult
       <cite>
        Writing Forward
       </cite>
      </small>
     </blockquote>
    </div>
   </div>
   <div class="row">
    <div class="col-md-12">
     <h3 id="sec13">
      Jak produktivně prokrastinovat
     </h3>
     <p class="text-justify">
      Někdy si nemůžeme pomoct a prokrastinujeme, nez&aacute;lež&iacute; na tom jak moc nechceme. Můžeme b&yacute;t unaven&iacute; nebo cokoliv jin&eacute;ho, každop&aacute;dně tomuto stavu se nevyhnete.
      <br/>
      Ře&scaron;en&iacute; je nasnadě. Dělejte věci jež jsou jednodu&scaron;&scaron;&iacute;, ale st&aacute;le produktivn&iacute;. Tato metoda je zn&aacute;m&aacute; jako metoda přesměrov&aacute;n&iacute;. M&iacute;sto rozpl&aacute;cnut&iacute; se před televiz&iacute; a sledov&aacute;n&iacute; filmu udělejte mal&eacute; &uacute;kony, kter&eacute; stejně mus&iacute;te udělat, zavolat rodině či zn&aacute;m&yacute;m, objednat se k zubaři/holiči, odpovědět na e-maily, udělat si průzkum či re&scaron;er&scaron;i. Vraťte se k v&iacute;ce produktivn&iacute;m činnostem jakmile se budete c&iacute;tit připraveni.
     </p>
    </div>
   </div>
   <div class="row">
    <div class="col-md-12 ">
     <iframe allowfullscreen="" class="center-block" height="480" src="https://www.youtube.com/embed/arj7oStGLkU?rel=0" width="853">
     </iframe>
    </div>
   </div>
   <div class="row">
    <div class="col-md-6">
     <h3 id="sec14">
      Vizualizace, kter&aacute; vede k prokrastinaci (a kter&aacute; ne)
     </h3>
     <p class="text-justify">
      Ať si to uvědomujeme či ne, každ&yacute; z n&aacute;s si v hlavě přehr&aacute;v&aacute; obraz &uacute;spěchů a ne&uacute;spěchů. Vizualizace na&scaron;ich snů by n&aacute;m měla pomoct, ne &scaron;kodit. Av&scaron;ak co budete dělat jakmile dos&aacute;hnete sv&eacute;ho snu? Asi nejčastěji se budete c&iacute;tit uvolněn&yacute;, spro&scaron;těn těžk&eacute;ho bř&iacute;mě va&scaron;&iacute; cesty k &uacute;spěchu. Konečně si můžete oddechnout.
      <br/>
      Přesně to sam&eacute; se děje když si představ&iacute;me &uacute;spěch. M&iacute;sto toho abychom byli motivov&aacute;n&iacute; dělat něco pro svůj sen, oklameme na&scaron;e podvědom&iacute; tak, že si mysl&iacute;, že již jsme splnili na&scaron;e sny.
      <br/>
      Největ&scaron;&iacute; ironi&iacute; je, že č&iacute;m v&iacute;ce si představujeme &uacute;spěch na&scaron;eho snu, t&iacute;m men&scaron;&iacute; je pravděpodobnost že jej dos&aacute;hneme. Pozitivn&iacute; vizualizace je kontraproduktivn&iacute; a čin&iacute; v&aacute;s letargick&yacute;mi.
      <br/>
      Ře&scaron;en&iacute;: Vyka&scaron;lete se na v&yacute;sledek a zaměřte se na proces. M&iacute;sto vizualizace skvěl&eacute; pr&aacute;ce si představte jak pos&iacute;l&aacute;te plno a plno životopisů a chod&iacute;te na pohovory.
     </p>
    </div>
    <div class="col-md-6">
     <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-11">
       <img class="img-rounded img-responsive" src="static/img/APH/text10.jpg">
       </img>
      </div>
     </div>
    </div>
   </div>
   <div class="row">
    <div class="col-md-12">
     <div class="row">
      <div class="col-md-6">
       <h3 id="sec15">
        Slovo, kter&eacute; zab&iacute;j&iacute; prokrastinaci
       </h3>
       <p class="text-justify">
        Dal&scaron;&iacute;m faktorem, jenž může způsobit prokrastinaci je na&scaron;e sebehodnocen&iacute;. Mluven&iacute; k sobě sam&eacute;mu m&aacute; obrovsk&yacute; dopad na na&scaron;e chov&aacute;n&iacute; a zda-li něco děl&aacute;me.
        <br/>
        Nahraďte nemůžu za nechci či jednoduch&eacute; ne. M&iacute;sto nemůžu p&iacute;t alkohol - Nepiju alkohol. Nemůžu bulat posilovnu - Nebul&aacute;m posilovnu. Nej&iacute;m nezdrav&eacute; j&iacute;dla.
                            Když použijete nemůžu, automaticky se zd&aacute; že to o čem mluv&iacute;te by jste hrozně r&aacute;di dělali ale odep&iacute;r&aacute;te si to. Použ&iacute;v&aacute;n&iacute;m "Ne" v&scaron;epujete sv&eacute; mysli že nejste ten typ co by fl&aacute;kal posilovnu nebo jedl nezdrav&eacute; j&iacute;dla. Zadruh&eacute;, nepouž&iacute;vejte "Nechci", přece jen je v tomto slově "chci" stejně jako v nemůžu "můžu".
        <br/>
        Nepřesvědčeni? Zde jsou data z v&yacute;zkumu:
        <br/>
        Vědci rozdělili lidi na dvě skupiny, jedna negovala, druh&aacute; nemohla. Nakonci nab&iacute;dli obou skupin&aacute;m ovesnou a čokol&aacute;dovou tyčinku jako odměnu za jejich &uacute;čast. Neguj&iacute;c&iacute; skupina byla skoro o polovinu (64% oproti 39%) &uacute;spě&scaron;něj&scaron;&iacute; v odm&iacute;tnut&iacute; čokol&aacute;dov&eacute; tyčinky než ti, kteř&iacute; ř&iacute;kali že nezdrav&eacute; j&iacute;dla nemohou.
                            Nav&iacute;c, u lid&iacute; kteř&iacute; pracovali vstř&iacute;c nějak&eacute;mu c&iacute;li, kter&yacute; se t&yacute;kal zdrav&iacute; a fitness, objevili, že ti jenž použ&iacute;vaj&iacute; "nemůžu" oproti "Ne" měli 8x vět&scaron;&iacute; pravděpodobnost se &scaron;patně rozhodnout (vynechat fitko, j&iacute;st nezdravě). 8 z 10 lid&iacute; použ&iacute;vaj&iacute;c&iacute; negaci se těmto poku&scaron;en&iacute;m dok&aacute;zalo ubr&aacute;nit. Z těch co použ&iacute;vali "nemůžu" odolalo jen 1 z 10 lid&iacute;.
        <br/>
        Až se tedy př&iacute;&scaron;tě přistihnete, že si ř&iacute;kate že to nemůžete, nahraďte toto slovo negac&iacute;.
       </p>
      </div>
      <div class="col-md-6">
       <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-11">
         <img class="img-rounded img-responsive" src="static/img/APH/text11.jpg">
         </img>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="row">
    <div class="col-md-12">
     <div class="row">
      <div class="col-md-6">
       <h3 id="sec16">
        Jak hravě a rychle použ&iacute;vat Outsourcing
       </h3>
       <p class="text-justify">
        No, outsourcing se moc nezd&aacute; jako ře&scaron;en&iacute; prokrastinace, a taky že nen&iacute;. Va&scaron;i nez&aacute;živnou pr&aacute;ci uděl&aacute; někdo jin&yacute;. Nen&iacute; to ře&scaron;en&iacute;, ale určitě možnost hodn&aacute; zv&aacute;žen&iacute;.
        <br/>
        Když se střet&aacute;v&aacute;me s nudn&yacute;mi, zlouhav&yacute;mi a nez&aacute;živn&yacute;mi, vyčerp&aacute;vaj&iacute;c&iacute;mi a repetitivn&iacute;mi činnostmi, nutk&aacute;n&iacute; k prokrastinaci se přikrade ke každ&eacute;mu z n&aacute;s. Toto nejsou činnosti, na kter&eacute; by jste měli vynaložit svou vůli a ment&aacute;ln&iacute; energii, pokud m&aacute;te v&iacute;ce důležit&eacute; a produktivn&iacute; aktivity. Pak je mnohdy nejlep&scaron;&iacute; volbou outsourcing.
                            Pro neznal&eacute;: Outsourcing je univerz&aacute;ln&iacute; služba, kde zad&aacute;te svou &uacute;lohu a někdo jin&yacute; než vy ji za &uacute;platu spln&iacute;.
        <br/>
        Dvě dobr&eacute; str&aacute;nky na to zač&iacute;t s outsourcingem jsou Upwork (https://upwork.com) a Fiverr (https://fiverr.com).
                            V Upworku hled&aacute;te př&iacute;mo lidi, kter&yacute;m dan&yacute; probl&eacute;m svěř&iacute;te nebo př&iacute;mo si pronajmete asistenty. Fiverr funguje jinak, a to t&iacute;m způsobem, že plat&iacute;te př&iacute;mo v&aacute;mi vybranou &uacute;lohu, kterou někdo uděl&aacute;.
       </p>
      </div>
      <div class="col-md-6">
       <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-11">
         <img class="img-rounded img-responsive" src="static/img/APH/text12.jpg">
         </img>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="row">
    <div class="col-md-12">
     <h3 id="sec17">
      Shrnut&iacute; a Z&aacute;věr
     </h3>
     <blockquote>
      <p>
       The best way to get something done is to begin.
      </p>
      <small>
       Author Unknown
      </small>
     </blockquote>
     <p class="text-justify">
      Nějak&yacute; motivuj&iacute;c&iacute; z&aacute;věr by asi při&scaron;el nazmar, přece jen to důležit&eacute; je v&yacute;&scaron;e. Tak tedy shrnut&iacute;:
     </p>
     <ol>
      <li>
       Přestaňte nad v&scaron;&iacute;m tolik přem&yacute;&scaron;let. Prostě bez přem&yacute;&scaron;len&iacute; jako robot začněte.
      </li>
      <li>
       Myslete pouze jen na dal&scaron;&iacute; mal&yacute; krok na va&scaron;&iacute; cestě a budete se divit, kolik ujdete mil.
      </li>
      <li>
       Využijte těchto mal&yacute;ch kroků pro vybudov&aacute;n&iacute; setrvačnosti. Nic v&aacute;s neučin&iacute; &uacute;spě&scaron;něj&scaron;&iacute;m tak jako &uacute;spěch.
      </li>
      <li>
       Svůj To-Do list učiňte akčněj&scaron;&iacute;m a jednodu&scaron;&scaron;&iacute;m na vykon&aacute;n&iacute;. Nejl&eacute;pe by akce měly zač&iacute;nat 2 minutovou akc&iacute;.
      </li>
      <li>
       Dvouminutov&eacute; pravidlo. Pokud něco dok&aacute;žete udělat do 2 minut, udělejte to hned. Jinak se nasb&iacute;raj&iacute;.
      </li>
      <li>
       Rozdělte velk&eacute; c&iacute;le na malinkat&eacute; &uacute;kolky. Je dobr&eacute; m&iacute;t velk&eacute; sny, ale vytvořte si men&scaron;&iacute; c&iacute;le, kter&eacute; k němu vedou.
      </li>
      <li>
       Napi&scaron;te si přesně kdy, kde a co budete dělat. T&iacute;m že se k tomu z&aacute;v&aacute;žete m&aacute;te o hodně vět&scaron;&iacute; &scaron;anci tuto akci splnit.
      </li>
      <li>
       Sedněte si do židle a nevstaňte hodinu. Nebo dvě. Bez rozptylov&aacute;n&iacute;. Rad&scaron;i budete pracovat než hodinu bezc&iacute;lně sedět.
      </li>
      <li>
       Představte si, že let&iacute;te letadlem. V&scaron;echny př&iacute;stroje vypnout, sedět v židli. Uvid&iacute;te, že rad&scaron;i budete pracovat.
      </li>
      <li>
       Udělejte si seznam "rozptylovačů" během pr&aacute;ce. Až dopracujte, bez ostychu si jej v klidu projděte.
      </li>
      <li>
       10 minut pr&aacute;ce + 2 minuty pauza. Zopakujte 5x a hodina pr&aacute;ce je na světě. Pauzy vyeliminujte jakmile nejsou potřebn&eacute;.
      </li>
      <li>
       Dejte si ultim&aacute;tum/uzav&iacute;račku. Vsaďte si na sebe, použijte pro to stickk.com, budete rad&scaron;i pracovat než tratit pen&iacute;ze.
      </li>
      <li>
       Udělan&eacute; je lep&scaron;&iacute; než perfektn&iacute;. 1 &gt;&gt; 0. Pr&aacute;zdnou str&aacute;nku nezeditujete, perfekci odložte stranou. Udělejte co můžete.
      </li>
      <li>
       Začněte prokrastinovat produktivně, když už se nec&iacute;t&iacute;te na pr&aacute;ci. Dělejte m&eacute;ně n&aacute;ročn&eacute; činnosti. Zavolejte rodině.
      </li>
      <li>
       Vizualizujte si proces, ne v&yacute;sledek. Představte si jak tvrdě mak&aacute;te aby jste měli soukrom&eacute; letadlo, ne jak v něm let&iacute;te.
      </li>
      <li>
       Nikdy si sobě neř&iacute;kejte že něco nemůžete dělat. Nej&iacute;m nezdrav&eacute; j&iacute;dlo. Neme&scaron;k&aacute;m. Zdvojn&aacute;sobujte sv&eacute; &scaron;ance na &uacute;spěch.
      </li>
      <li>
       Pro nez&aacute;živn&eacute;, podřadn&eacute; a nudn&eacute; činnosti zab&iacute;raj&iacute;c&iacute; mnoho času užijte Outsourcing nebo je delegujte někomu jin&eacute;mu.
      </li>
     </ol>
     <p class="text-justify">
      Uložte si tuto str&aacute;nku, když se přistihnete, že se nedok&aacute;žete k něčemu "dokopat", přečtěte si opět shrnut&iacute; a snad va&scaron;e cesta bude m&eacute;ně trnit&aacute;.
                        To že jste dočetli až sem znamen&aacute;, že ve v&aacute;s je to co potřebujete k překon&aacute;n&iacute; prokrastinace.
      <br/>
      Teď tedy zavřete z&aacute;ložku s m&yacute;m blogem a začnete!
     </p>
    </div>
   </div>
  </div>
 </div>
</div>
{% endblock %}
