{% extends "base.html" %}
{% block content %}

<p>
    1.st Article
    <br/>
    <br/>
    <strong>How to learn stuff</strong>
</p>
<p>
    Prvn&#237;m krokem m&#233;ho sebevzd&#283;l&#225;n&#237; v r&#225;mci
    tohoto blogu je samotn&#253; proces u&#269;en&#237;. Jako&#382;to
    prvn&#237; &#269;l&#225;nek, bude p&#345;edev&#353;&#237;m adresov&#225;n
    m&#283;, aby mi slou&#382;il jako pr&#367;vodce sv&#283;tem
    dlouhodob&#233;ho u&#269;en&#237;. Velmi jsem se inspiroval knihou
    Unlimited Memory (doplnit). Budu citovat n&#283;kter&#233; v&#253;roky,
    kter&#233; se mi obzvl&#225;&#353;t&#283; l&#237;bily. &#268;l&#225;nek
    bude ps&#225;n zkratkovit&#283;, pokud se chcete dozv&#283;d&#283;t
    v&#237;ce, p&#345;e&#269;t&#283;te si zm&#237;n&#283;nou knihu,
    n&#225;sledn&#283; ud&#283;l&#225;m i v&#253;tah informac&#237; pomoc&#237;
    tzv. mindmap, kter&#225; v&#225;m poka&#382;d&#233; p&#345;ipomene co jste
    se zde nau&#269;ili spole&#269;n&#283; s rozebran&#253;mi metodami
    u&#269;en&#237;. U&#382; m&#283; nebav&#237; zapom&#237;nat v&#283;ci a
    u&#269;it se na zkou&#353;ky jen proto, abych dan&#233; v&#283;domosti za
    14 dn&#237; zahodil. Toto je mou motivac&#237;.
</p>
<p>
    You can have sucess or excuses, but you can&#180;t have both.
    <br/>
    Every excuse you accept makes you weaker.
    <br/>
    Do any of your excuses really enhance and empower your life?
</p>
<p>
    Mindmap of Unlimited memory:
</p>
<p>
    WHY
    <br/>
    Ka&#382;d&#253; krok by m&#283;l za&#269;&#237;t t&#237;mto slovem.
    Pro&#269;. Pro&#269; se chci danou dovednost nau&#269;it, co mi to d&#225;?
    Posune m&#283; d&#225;l? Sepi&#353;me si tedy ka&#382;d&#253; list
    d&#367;vod&#367;, za m&#283; tento:
</p>
<p>
    Chci b&#253;t ka&#382;d&#253; den d&#225;le ne&#382; ten
    p&#345;ede&#353;l&#253; a nau&#269;it se nov&#253;m v&#283;cem
    <br/>
    Chci b&#253;t lep&#353;&#237; osobou ne&#382; v&#269;era
    <br/>
    Chci vyu&#382;&#237;vat sv&#367;j mozek jako &#250;lo&#382;i&#353;t&#283;
    v&#283;domost&#237; bez zna&#269;n&#253;ch probl&#233;m&#367;
    <br/>
    Chci zkr&#225;tit dobu u&#269;en&#237;
    <br/>
    Chci si dok&#225;zat &#382;e na tuto dovednost m&#225;m
    <br/>
    Tato dovednost bude z&#225;kladn&#237;m kamenem pro strukturalizaci a
    nau&#269;en&#237; dal&#353;&#237;ch t&#233;mat (emo&#269;n&#237;
    inteligence, banter, drawing, psychological analytics)
    <br/>
    Nikdy nen&#237; pozd&#283; ani brzy, je v&#353;ak t&#345;eba
    za&#269;&#237;t hned nebo nikdy
    <br/>
    <br/>
    BELIEFS
    <br/>
    Jse&#353; to &#269;emu v&#283;&#345;&#237;&#353;, toto je velmi
    d&#367;le&#382;it&#233; si uv&#283;domit, proto pou&#382;ij
    n&#225;sleduj&#237;c&#237; v&#237;ry:
    <br/>
    <br/>
    Nejsi limitov&#225;n vrozen&#253;mi limity
    <br/>
    Pam&#283;&#357; je tvoj&#237; identitou, tv&#253;m j&#225;. Zlep&#353;i ji
    a zlep&#353;&#237;&#353; i sebe
    <br/>
    Tv&#225; pam&#283;&#357; je neuv&#283;&#345;iteln&#283; velk&#225;, i
    kdy&#382; si to neuv&#283;domuje&#353;
    <br/>
    Zab&#253;vej se i kladnou str&#225;nkou sv&#233; pam&#283;ti
    <br/>
    Otev&#345;i svou mysl v&#353;em mo&#382;nostem
    <br/>
    Sebereflexe je proklat&#283; d&#367;le&#382;it&#225;
</p>
<p>
    QUESTIONS AND INSIGHTS
    <br/>
    V r&#225;mci sebereflexe je nutno si polo&#382;it
    n&#225;sleduj&#237;c&#237; ot&#225;zky. &#268;lov&#283;k mus&#237; sv&#233;
    v&#237;ry testovat a roz&#353;i&#345;ovat, jinak je uv&#283;zn&#283;n v
    jejich mez&#237;ch. Nejv&#237;ce se mi vybavuje Shia LeBoeuf: Yes you can!
    Just do it! Tento v&#253;rok bez jak&#233; kolik pochyby by m&#283;l
    b&#253;t va&#353;&#237; oporou. V&#353;e je mo&#382;n&#233; pro
    neuv&#283;zn&#283;nou mysl.
    <br/>
    <br/>
    Co t&#283; limituje? Nejsi to ve skute&#269;nosti ty s&#225;m?
    <br/>
    Nem&#367;&#382;e&#353; se zlep&#353;it nebo pro to ned&#283;l&#225;&#353;
    dost?
    <br/>
    &#268;emu v&#283;&#345;&#237;&#353; o sv&#233; mysli a potenci&#225;lu?
</p>
<p>
    If you don&#180;t like how things are, change it! You&#180;re not a tree.
</p>
<p>
    1. Koncentrace
</p>
<p>
    Co n&#225;s &#269;in&#237; zaj&#237;mav&#253;mi oproti jin&#253;m
    zv&#237;&#345;at&#367;m je, &#382;e dok&#225;&#382;e
    p&#345;em&#253;&#353;let o my&#353;len&#237;. Koncentrace je dovednost jako
    ka&#382;d&#225; jin&#225;, a tedy je ji mo&#382;no zdokonalovat. V
    dne&#353;n&#237; dob&#283; &#382;ijeme v iluzi aktivity, do ni&#269;eho
    nevkl&#225;d&#225;me cel&#233; sv&#233; byt&#237; v jeden okam&#382;ik.
    Vl&#225;da nad na&#353;imi emocemi je kl&#237;&#269;ov&#225; pro akvizici
    dobr&#233; koncentrace. Pro va&#353;i p&#345;&#237;&#353;t&#237;
    &#269;innost, zkuste se na ni soust&#345;edit na 100%, uvid&#237;te kolik
    si v&#237;ce zapamatujete a zjist&#237;te. Pust&#283; si t&#345;eba video
    SciShow na Youtube, nejl&#233;pe takov&#233;, kter&#233; v&#225;s
    osobn&#283; bude zaj&#237;mat, soust&#345;edt&#283; se na n&#283;j,
    analyzujte jej z v&#237;cero &#250;hl&#367; s otev&#345;enou mysl&#237;,
    odolejte nutk&#225;n&#237; &#269;&#237;st koment&#225;&#345;e nebo
    &#8222;jen poslouchat" p&#345;i proklik&#225;v&#225;n&#237;
    z&#225;lo&#382;ek. V&#353;e ostatn&#237; po&#269;k&#225;, te&#271; jste
    tady pouze vy a dan&#233; video.
</p>
<p>
    1.1 V&#225;&#353; vnit&#345;n&#237; hlas
</p>
<p>
    Samoz&#345;ejm&#283;, ka&#382;d&#253; m&#225; sv&#367;j vnit&#345;n&#237;
    hlas. Ten hlas &#269;asto na&#353;ept&#225;v&#225;, a velmi &#269;asto tzv.
    &#8222;buzeruje". &#268;lov&#283;k si snadn&#283;ji v&#353;imne
    &#353;patn&#233;ho ne&#382; dobr&#233;ho, zkuste tedy sv&#367;j hlas
    &#8222;na&#269;apat" ve sv&#253;ch dobr&#253;ch chv&#237;l&#237;ch. Kdy
    jste se dneska dob&#345;e soust&#345;edili? Pochvalte se.
</p>
<p>
    &#268;asto tento hlas p&#345;ich&#225;z&#237; s velmi negativn&#237;mi
    emocemi, &#353;ept&#225; &#382;e jste bezcenn&#237; a zbyte&#269;n&#237;. V
    &#382;&#225;dn&#233;m p&#345;&#237;pad&#283; s n&#237;m nesouhlaste, je to
    jen prchav&#225; my&#353;lenka, kter&#233; pouze vy d&#225;v&#225;te
    mo&#382;nost r&#367;st a p&#345;i&#382;ivujete ji. Kdy&#382; si d&#225;te
    &#353;patn&#233; p&#345;&#237;kazy, nem&#367;&#382;ete o&#269;ek&#225;vat
    &#382;e se stanou dobr&#233; v&#283;ci.
</p>
<p>
    1.2 Multitasking
</p>
<p>
    Nejv&#283;t&#353;&#237;m nep&#345;&#237;telem koncetrace je multitaking.
    Multitasking je m&#253;tus. V&#382;dy se zab&#253;v&#225;me jednou
    v&#283;c&#237; s&#233;riov&#283; s druhou, nikdy v&#353;ak paraleln&#283;
    (mo&#382;n&#233; pro lidi s odd&#283;len&#253;mi mozkov&#253;mi
    hemisf&#233;rami). Kdy&#382; d&#283;l&#225;me v&#237;ce v&#283;c&#237;
    najednou, ve skute&#269;nosti mezi nimi sk&#225;&#269;eme a
    &#382;&#225;dn&#233; z nich se efektivn&#283; nev&#283;nujeme.
    Posledn&#237;mi roky si lid&#233; navykli &#8222;checkovat" emailovou
    schr&#225;nku, facebookov&#233; notifikace, twitter &#269;i
    r&#367;znorod&#233; str&#225;nky s novinkami, j&#225; nejsem vyj&#237;mkou.
    Ji&#382; nedok&#225;&#382;eme &#345;&#237;dit automobil bez r&#225;dia
    &#269;i zapnout televizi a sledovat jeden program.
</p>
<p>
    Multitasking je zn&#225;m&#253; t&#237;m, &#382;e zpomaluje lidi o 50% a
    zvy&#353;uje chybovost o 50%. Vyhra&#271;te si proto &#269;as a
    d&#283;lejte pouze jednu danou v&#283;c cel&#253;m sv&#253;m byt&#237;m.
    Lid&#233; jsou n&#225;chyln&#237; k tomu, aby jejich koncentrace byla
    roztrou&#353;ena. P&#345;ece jen sly&#353;&#237;me, vyd&#237;me,
    c&#237;t&#237;me, hmat&#225;me a poci&#357;ujeme najednou. Z
    evolu&#269;n&#237;ho hlediska je to jist&#283; v&#253;hodn&#233; jako
    prevence p&#345;ed pred&#225;tory, pro odveden&#237; &#250;lohy
    modern&#237; doby ji&#382; moc ne. Pokud se pln&#283;
    soust&#345;ed&#237;te, va&#353;e mysl bude tam, kde ji zrovna
    pot&#345;ebujete.
</p>
<p>
    P&#345;i va&#353;em dal&#353;&#237;m u&#269;en&#237; se pokuste
    zab&#253;vat na dan&#253; &#269;asov&#253; &#250;sek pouze na n&#283;j (
    m&#283; se osv&#283;d&#269;ila metoda 20/5 - 20 minut pln&#233; koncentrace
    a 5 minut pauza, dejte si v&#353;ak pozor, pot&#345;ebujete
    &#269;asova&#269;, jinak se v t&#283;ch p&#283;ti minut&#225;ch zaseknete i
    t&#345;i hodiny a v&#237;ce).
</p>
<p>
    1.3 U&#269;te se se z&#225;m&#283;rem
</p>
<p>
    Lidi bezhlav&#283; &#269;tou informace, o&#269;ek&#225;vaj&#237;ce &#382;e
    si je zapamatuj&#237;. Takto to v&#353;ak pro n&#225;&#353; mozek
    nefunguje. Pod&#237;vejme se na metodu <strong>PIC</strong>:
</p>
<p>
    <strong>P</strong>
    urpose - Neust&#225;le m&#283;jte na z&#345;eteli pro&#269; &#269;tete nebo
    pro&#269; se n&#283;co u&#269;&#237;te. Pokud nev&#237;te co chcete, jak
    budete v&#283;d&#283;t &#382;e jste to z&#237;skali? U&#269;en&#237; se se
    z&#225;m&#283;rem zv&#253;&#353;&#237; va&#353;i koncentraci,
    porozum&#283;n&#237;, zapamatelnost i organizavanost va&#353;ich
    my&#353;lenek. Pokud si nebudete jist&#237; pro&#269; n&#283;co
    d&#283;l&#225;te, m&#367;&#382;ete to d&#283;lat po&#345;&#225;d dokola bez
    zna&#269;n&#233;ho posunu.
</p>
<p>
    <strong>I</strong>
    nterest - Pokud nem&#225;te z&#225;jem o danou problematiku, zapamatovat si
    &#8222;nezaj&#237;mav&#233;" informace bude velmi t&#283;&#382;k&#233;.
    Zase naopak pokud jste pro n&#283;jak&#253; sm&#283;r nadchnut&#237; a
    zainteresovan&#237;, informace se v&#225;m samy cpou do hlavy. Za m&#283;
    to jsou t&#345;eba po&#269;&#237;ta&#269;ov&#233; hry, pamatuji si
    v&#353;echny jednotky Warcraftu 3 &#269;i hrdiny Doty a LoL, ani&#382; bych
    se je v&#283;dom&#283; u&#269;il. V&#225;&#353; mozek je jednoduch&#253;,
    nebude pod&#225;vat v&#253;kony pro n&#283;co, co v&#225;s nebav&#237;,
    sp&#237;&#353;e to odbyde aby se mohl zaj&#237;mat pro v&#225;s
    zaj&#237;mav&#283;j&#353;&#237;m v&#283;cem. Va&#353;e mysl se v&#382;dy
    bude ub&#237;rat k v&#283;cem kter&#233; v&#225;s zaj&#237;maj&#237;.
</p>
<p>
    Jak tedy z nudn&#253;ch informac&#237; ud&#283;lat zaj&#237;mav&#233;?
    Ka&#382;dou nudnou informaci lze ozvl&#225;&#353;tnit ot&#225;zkami typu Co
    mi to p&#345;inese? Jak se toto t&#233;ma vyu&#382;&#237;v&#225; v praxi na
    v&#283;ci kter&#233; m&#283; zaj&#237;maj&#237;? Jak se to poj&#237; s
    m&#253;m &#382;ivotem? Jak mi mi to pom&#367;&#382;e v budoucnu nebo pro
    uskute&#269;n&#283;n&#237; m&#253;ch c&#237;l&#367;?
</p>
<p>
    There are no unitersting things, only uninterested people
</p>
<p>
    <strong>C</strong>
    uriosity - P&#283;stujte svoji zv&#283;davost, d&#237;ky n&#237; se
    nebudete nikdy nudit. P&#345;em&#253;&#353;lejte o v&#283;cech kolem
    v&#225;s, jak funguj&#237; a n&#225;sledn&#283; jak by jste je
    vylep&#353;ili, p&#345;em&#253;&#353;lejte o va&#353;&#237; mysli.
    Pro&#269; mi to nejde? Nejdete na to &#353;patn&#283;? M&#225;te blb&#253;
    den? NE! Pozor na v&#253;mluvy, pokl&#225;dejte si pozitivn&#237;
    ot&#225;zky. P&#345;&#237;kladem mohou b&#253;t n&#225;sleduj&#237;c&#237;:
</p>
<p>
    Jak mi tyto informace pom&#367;&#382;ou realizovat m&#233; c&#237;le?
    <br/>
    Jak mohu tyto informace aplikovat pro zlep&#353;en&#237; sv&#233;
    pr&#225;ce &#269;i sebe sama?
    <br/>
    Jak m&#283; tyto informace u&#269;in&#237; v&#237;ce v&#253;znamn&#253;m?
    Jak m&#283; obohat&#237;?
</p>
<p>
    If you want to cure boredom, be curious. Then, you&#180;ll want to study,
    you&#180;ll be genuinely interested in learning stuff
</p>
<p>
    1.4 P&#345;esta&#328;te si d&#283;lat starosti
</p>
<p>
    Jeliko&#382; nem&#225;te psychotronick&#233; schopnosti,
    p&#345;esta&#328;te si d&#283;lat starosti nad v&#283;cmi, kter&#233;
    nem&#367;&#382;ete ovlivnit. Pokud se soust&#345;ed&#237;te pouze na sebe,
    budete m&#237;t &#269;istou hlavu. Nep&#345;em&#253;&#353;lejte nad
    ot&#225;zkami Co kdyby?, rad&#283;ji si polo&#382;te Co budu d&#283;lat
    pokud... Nemus&#237;te proch&#225;zet neust&#225;le sc&#233;n&#225;&#345;e,
    kter&#233; si vymysl&#237;te. Pokud va&#353;e mysl &#269;asto
    ut&#237;k&#225; k t&#283;mto hr&#367;zn&#253;m situac&#237;m,
    vy&#345;e&#353;t&#283; si je pr&#225;v&#283; te&#271;. Co kdyby nic
    ne&#345;e&#353;&#237;. Jak m&#367;&#382;ete v&#283;d&#283;t v&#253;sledek,
    kdy&#382; si jej pouze domysl&#237;te?
</p>
<p>
    Chcete zlep&#353;it svou koncentraci nebo ne? To je jedin&#225; ot&#225;zka
    na kterou stoj&#237; odpov&#283;d&#283;t, zbytek je d&#283;l&#225;n&#237;
    si starost&#237;.
    <br/>
    <br/>
    <br/>
</p>

{% endblock %}