{% extends "base.html" %}
{% block content %}

<h1 id="sec0">
    How to learn stuff
</h1>
<p>
    Prvním krokem mého sebevzdělání v rámci tohoto blogu je samotný proces
    učení. Jakožto první článek, bude především adresován mě, aby mi sloužil
    jako průvodce světem dlouhodobého učení. Velmi jsem se inspiroval knihou
    Unlimited Memory (doplnit). Budu citovat některé výroky, které se mi
    obzvláště líbily. Článek bude psán zkratkovitě, pokud se chcete dozvědět
    více, přečtěte si zmíněnou knihu, následně udělám i výtah informací pomocí
    tzv. mindmap, která vám pokaždé připomene co jste se zde naučili společně s
    rozebranými metodami učení. Už mě nebaví zapomínat věci a učit se na
    zkoušky jen proto, abych dané vědomosti za 14 dní zahodil. Toto je mou
    motivací.
</p>
<p>
    You can have sucess or excuses, but you can´t have both.
    <br/>
    Every excuse you accept makes you weaker.
    <br/>
    Do any of your excuses really enhance and empower your life?
</p>
<p id="sec-conclusion">
    Mindmap of Unlimited memory:
</p>
<p>
    <strong>WHY</strong>
    <br/>
    Každý krok by měl začít tímto slovem. Proč. Proč se chci danou dovednost
    naučit, co mi to dá? Posune mě dál? Sepišme si tedy každý list důvodů, za
    mě tento:
</p>
<p>
    Chci být každý den dále než ten předešlý a naučit se novým věcem
    <br/>
    Chci být lepší osobou než včera
    <br/>
    Chci využívat svůj mozek jako úložiště vědomostí bez značných problémů
    <br/>
    Chci zkrátit dobu učení
    <br/>
    Chci si dokázat že na tuto dovednost mám
    <br/>
    Tato dovednost bude základním kamenem pro strukturalizaci a naučení dalších
    témat (emoční inteligence, banter, drawing, psychological analytics)
    <br/>
    Nikdy není pozdě ani brzy, je však třeba začít hned nebo nikdy
    <br/>
    <br/>
    <strong>BELIEFS</strong>
    <br/>
    Jseš to čemu věříš, toto je velmi důležité si uvědomit, proto použij
    následující víry:
    <br/>
    <br/>
    Nejsi limitován vrozenými limity
    <br/>
    Paměť je tvojí identitou, tvým já. Zlepši ji a zlepšíš i sebe
    <br/>
    Tvá paměť je neuvěřitelně velká, i když si to neuvědomuješ
    <br/>
    Zabývej se i kladnou stránkou své paměti
    <br/>
    Otevři svou mysl všem možnostem
    <br/>
    Sebereflexe je proklatě důležitá
</p>
<p>
    <strong>QUESTIONS AND INSIGHTS</strong>
    <br/>
    V rámci sebereflexe je nutno si položit následující otázky. Člověk musí své
    víry testovat a rozšiřovat, jinak je uvězněn v jejich mezích. Nejvíce se mi
    vybavuje Shia LeBoeuf: Yes you can! Just do it! Tento výrok bez jaké kolik
    pochyby by měl být vaší oporou. Vše je možné pro neuvězněnou mysl.
    <br/>
    <br/>
    Co tě limituje? Nejsi to ve skutečnosti ty sám?
    <br/>
    Nemůžeš se zlepšit nebo pro to neděláš dost?
    <br/>
    Čemu věříš o své mysli a potenciálu?
</p>
<p>
    If you don´t like how things are, change it! You´re not a tree.
</p>
<h1 id="sec1">
    1. Koncentrace
</h1>
<p>
    Co nás činí zajímavými oproti jiným zvířatům je, že dokáže přemýšlet o
    myšlení. Koncentrace je dovednost jako každá jiná, a tedy je ji možno
    zdokonalovat. V dnešní době žijeme v iluzi aktivity, do ničeho nevkládáme
    celé své bytí v jeden okamžik. Vláda nad našimi emocemi je klíčová pro
    akvizici dobré koncentrace. Pro vaši příští činnost, zkuste se na ni
    soustředit na 100%, uvidíte kolik si více zapamatujete a zjistíte. Pustě si
    třeba video SciShow na Youtube, nejlépe takové, které vás osobně bude
    zajímat, soustředtě se na něj, analyzujte jej z vícero úhlů s otevřenou
    myslí, odolejte nutkání číst komentáře nebo „jen poslouchat“ při
    proklikávání záložek. Vše ostatní počká, teď jste tady pouze vy a dané
    video.
</p>
<h2>
    1.1 Váš vnitřní hlas
</h2>
<p>
    Samozřejmě, každý má svůj vnitřní hlas. Ten hlas často našeptává, a velmi
    často tzv. „buzeruje“. Člověk si snadněji všimne špatného než dobrého,
    zkuste tedy svůj hlas „načapat“ ve svých dobrých chvílích. Kdy jste se
    dneska dobře soustředili? Pochvalte se.
</p>
<p>
    Často tento hlas přichází s velmi negativními emocemi, šeptá že jste
    bezcenní a zbyteční. V žádném případě s ním nesouhlaste, je to jen prchavá
    myšlenka, které pouze vy dáváte možnost růst a přiživujete ji. Když si dáte
    špatné příkazy, nemůžete očekávat že se stanou dobré věci.
</p>
<h2>
    1.2 Multitasking
</h2>
<p>
    Největším nepřítelem koncetrace je multitaking. Multitasking je mýtus. Vždy
    se zabýváme jednou věcí sériově s druhou, nikdy však paralelně (možné pro
    lidi s oddělenými mozkovými hemisférami). Když děláme více věcí najednou,
    ve skutečnosti mezi nimi skáčeme a žádné z nich se efektivně nevěnujeme.
    Posledními roky si lidé navykli „checkovat“ emailovou schránku, facebookové
    notifikace, twitter či různorodé stránky s novinkami, já nejsem vyjímkou.
    Již nedokážeme řídit automobil bez rádia či zapnout televizi a sledovat
    jeden program.
</p>
<p>
    Multitasking je známý tím, že zpomaluje lidi o 50% a zvyšuje chybovost o
    50%. Vyhraďte si proto čas a dělejte pouze jednu danou věc celým svým
    bytím. Lidé jsou náchylní k tomu, aby jejich koncentrace byla roztroušena.
    Přece jen slyšíme, vydíme, cítíme, hmatáme a pociťujeme najednou. Z
    evolučního hlediska je to jistě výhodné jako prevence před predátory, pro
    odvedení úlohy moderní doby již moc ne. Pokud se plně soustředíte, vaše
    mysl bude tam, kde ji zrovna potřebujete.
</p>
<p>
    Při vašem dalším učení se pokuste zabývat na daný časový úsek pouze na něj
    ( mě se osvědčila metoda 20/5 – 20 minut plné koncentrace a 5 minut pauza,
    dejte si však pozor, potřebujete časovač, jinak se v těch pěti minutách
    zaseknete i tři hodiny a více).
</p>
<h2>
    1.3 Učte se se záměrem
</h2>
<p>
    Lidi bezhlavě čtou informace, očekávajíce že si je zapamatují. Takto to
    však pro náš mozek nefunguje. Podívejme se na metodu <strong>PIC</strong>:
</p>
<p>
    <strong>P</strong>
    urpose – Neustále mějte na zřeteli proč čtete nebo proč se něco učíte.
    Pokud nevíte co chcete, jak budete vědět že jste to získali? Učení se se
    záměrem zvýší vaši koncentraci, porozumění, zapamatelnost i organizavanost
    vašich myšlenek. Pokud si nebudete jistí proč něco děláte, můžete to dělat
    pořád dokola bez značného posunu.
</p>
<p>
    <strong>I</strong>
    nterest – Pokud nemáte zájem o danou problematiku, zapamatovat si
    „nezajímavé“ informace bude velmi těžké. Zase naopak pokud jste pro nějaký
    směr nadchnutí a zainteresovaní, informace se vám samy cpou do hlavy. Za mě
    to jsou třeba počítačové hry, pamatuji si všechny jednotky Warcraftu 3 či
    hrdiny Doty a LoL, aniž bych se je vědomě učil. Váš mozek je jednoduchý,
    nebude podávat výkony pro něco, co vás nebaví, spíše to odbyde aby se mohl
    zajímat pro vás zajímavějším věcem. Vaše mysl se vždy bude ubírat k věcem
    které vás zajímají.
</p>
<p>
    Jak tedy z nudných informací udělat zajímavé? Každou nudnou informaci lze
    ozvláštnit otázkami typu Co mi to přinese? Jak se toto téma využívá v praxi
    na věci které mě zajímají? Jak se to pojí s mým životem? Jak mi mi to
    pomůže v budoucnu nebo pro uskutečnění mých cílů?
</p>
<p>
    There are no unintersting things, only uninterested people
</p>
<p>
    <strong>C</strong>
    uriosity – Pěstujte svoji zvědavost, díky ní se nebudete nikdy nudit.
    Přemýšlejte o věcech kolem vás, jak fungují a následně jak by jste je
    vylepšili, přemýšlejte o vaší mysli. Proč mi to nejde? Nejdete na to
    špatně? Máte blbý den? NE! Pozor na výmluvy, pokládejte si pozitivní
    otázky. Příkladem mohou být následující:
</p>
<p>
    Jak mi tyto informace pomůžou realizovat mé cíle?
    <br/>
    Jak mohu tyto informace aplikovat pro zlepšení své práce či sebe sama?
    <br/>
    Jak mě tyto informace učiní více významným? Jak mě obohatí?
</p>
<p>
    If you want to cure boredom, be curious. Then, you´ll want to study, you´ll
    be genuinely interested in learning stuff
</p>
<h2>
    1.4 Přestaňte si dělat starosti
</h2>
<p>
    Jelikož nemáte psychotronické schopnosti, přestaňte si dělat starosti nad
    věcmi, které nemůžete ovlivnit. Pokud se soustředíte pouze na sebe, budete
    mít čistou hlavu. Nepřemýšlejte nad otázkami Co kdyby?, raději si položte
    Co budu dělat pokud... Nemusíte procházet neustále scénáře, které si
    vymyslíte. Pokud vaše mysl často utíká k těmto hrůzným situacím, vyřeště si
    je právě teď. Co kdyby nic neřeší. Jak můžete vědět výsledek, když si jej
    pouze domyslíte?
</p>
<p>
    Chcete zlepšit svou koncentraci nebo ne? To je jediná otázka na kterou
    stojí odpovědět, zbytek je dělání si starostí.
</p>
<h1 id="sec2">
    2. Základy
</h1>
<p>
    Fotogenická paměť jak si ji mnoho lidí představuje neexistuje. Perfektní
    paměť je dovednost, ne vrozený dar. Jak tedy dostat informace do mozku tak
    aby se zachytily a netvořili tzv. efekt jedním uchem dovnitř a druhým ven?
    Je nutno přivést informace k životu.
</p>
<p>
    Pokud pasivně čtete, téměř nic si nezapamatujete. Naopak ku příkladu
    čtete-li novelu či nějaký příběh, představujete si dané situace a
    jednostivé postavy. Využíváte své kreativity, jež je právě klíčovou složkou
    neomezené paměti.
</p>
<p>
    Mnoho lidí se snaží zapamatovat si informace na základě zvuků, snaží se
    znovu a znovu opakovat dané slovo či text a doufají, že se jim v hlavě
    nějak informace vryje. Navíc, pokud si pamatujeme zvuk, tak když jej
    hledáme v naší paměti, musíme najít jeho začátek abychom rozkryli
    požadovaný informační blok. Proto je vhodnější v paměti ukládat obrazy,
    které se samy navádí aby se v naší mysli poskládaly celé. Budeme tedy pro
    záměry pamatování užívat představivost.
</p>
<p>
    Čím více změníme informace v obrazy či filmy, tím více si zapamatujeme a
    pochopíme. Proto budeme používat princip „SEE"
</p>
<h2>
    2.1 Princip SEE
</h2>
<p>
    <strong>S</strong>
    - Senses/Smysly: Musíme používat naše smysly abychom cokoliv dostali do
    naší hlavy. Stejně tak si pomocí nich vybavíme uložené informace. Jako
    příklad si představte ve své mysli kočku. Slyšte jak přede, když ji
    hladíte, pozorujte ji jak vám leží na klíně, uciťte ten kočičí odér.
    Nepředstavili jste si slovo kočka, zažili jste multismyslový vjem. Pokuste
    se stejnou situaci znovu vybavit. Je to jednoduché však?
</p>
<p>
    <strong>E</strong>
    - Exaggeration/Přeháňka(:D): Co je jednodušší si zapamatovat? Normální
    jahodu nebo takovou velikosti dvoupodlažního domu? Pokuste se vaše obrazy
    tvoři odlišné od běžné reality. Nemusí se to týkat pouze velikosti. Jako
    příklad oblečte banán do županu.
</p>
<p>
    Snažte se vytvořit směšné objekty, nikde není napsáno že učení nemůže být
    zábavné a vědomosti musí být statická složka s fakty. Užijte si to!
</p>
<p>
    <strong>E</strong>
    - Energize/Oživování: Dejte svým obrazům pohyb. Představte si výše zmíněný
    banán jak cvičí Taekwondo. Snažte se činit své obrazy barevné, střeštěné, a
    hlavně ne nudné. Použijte tanec, zpěv, mluvu, ohyb, protahování, skrut,
    vlnění, let, cokoliv vás napadne. Vzpomeňte si na nezapomenutelné pohádky a
    které pohyby se vám vryly nejvíce do paměti.
</p>
<p>
    Když si čtete nebo posloucháte, využívejte princip SEE. Z osobní zkušenosti
    jsem nedávno poslouchal audioknihu Mycelium. Díky tomuto sluchovému vjemu
    jsem si v hlavě zkonstruoval celý svět, do kterého nás posluchače autorka
    uvrhla. Díky skvělým výkonům herců jsem si dokázal představit jednotlivé
    situace a postavy. Buďte naivní při vašich představách, zveličujte a
    zkrášlujte, a pokud si chcete skutečně zapamatovat, domyslete si něco
    vtipného. Nezapomeňte ze svých obrazů dělat filmy, pohyb je pro lidský
    mozek nejlépe zapamatovatelný, přitahuje naši pozornost oproti statice.
</p>
<p>
    Většina lidí takto přirozeně nemyslí, nevěšte hlavu, je to pohým tréninkem.
    Lidský mozek se neustále obnovuje, je jen na vás zda-li stejně či jinak.
    Čím více budete učívat svou představivost, tím více budete znát, dokážete
    spojovat zdánlivě nespojitelné věci a ve své mysli tím vytvoříte síť na
    kterou se budou chytat nové informace.
</p>
<p>
    Jak ovšem převést abstraktní pojmy do obrazů s významem? Snažte se je
    nahradit. Jako příklad dám např. slovo Washington. Představte si chlápka,
    jenž umývá závaží o hmotnosti jedné tuny. Ze začátku to pro vás bude nové,
    stejně jako je i pro mne, budeme muset investovat naši pozornost pro
    vytvoření těchto obrazů/filmů. Pár příkladů pomocí angličtiny:
</p>
<p>
    Japanese
    <br/>
    Chest is Mune (Mooneh) - Imagine money growing out of your chest.
    <br/>
    Door is To (Toe) - Imagine kicking yourself into a toe when passing through
    the door.
    <br/>
    Carpet is Juutan (Jootan) - Imagine that you tan (sunbathe) on a carpet.
    <br/>
    Water is Mizu - Czech comes in handy, představte si mízu jak teče potoky a
    řekami.
    <br/>
    Red is Aka - Imagine Red Ak-47 :D The crazier the better
</p>
<p>
    Jak jistě chápete, občas vás bude omezovat možnost, kdy nebudete vědět jak
    dané slovo nahradit. Je to úplně normální. Zkuste teď sami si udělat
    asociace k následujícím slovům v závorce asociační nápověda:
</p>
<p>
    Airport is Kuukou (Kuků)
    <br/>
    Person is Hito (Punch him in the face)
    <br/>
    Question is Shitsumon (Shit summon)
</p>
<p>
    Pokud si pojmy spojíte s roztodivnými a šílenými představami, jen tak se
    vám z hlavy nevypaří, ovšem je třeba je osvěžovat, to si ukážeme v dalších
    kapitolách. Tuto pomůcku lze použít na vše.
</p>
<p>
    Paměť není věcí která se vám stane, právě vy si vytváříte vzpomínky.
    Dokážete přetvořit jakoukoli informaci na těco co dává smysl právě vám.
    Proto neberte moje asociace doslova, pokud se vymyslíte lepší, užijte ji.
    Užití principu SEE by mělo zlepšít vaši kreativitu, představivost, pamět i
    humor.
</p>
<h1 id="sec3">
    3. Techniky
</h1>
<p>
    Máme tedy živé obrazy, jenomže kam je v mysli zařadit? Naše mysl se
    rozděluje na tři kategorie. Krátkodobá, dlouhodobá a něco mezi tím. Dále
    budu používat následující zkratky: SHT - short term memory, MTM - middle
    term memory a LTM - long term memory.
</p>
<p>
    Nyní se pokusme něco společně naučit.
</p>
<h2>
    3.1 Metoda CAR
</h2>
<p>
    Představte si vaše rodinné auto, jistě jej dobře znáte a dokážete se v něm
    pohybovat. Toto auto je součástí vaší LTM. Při jednotlivých předmětech
    užijte metodu SEE.
</p>
<p>
    Vražte červené jablko do přední masky auta, udělejte z něj jaguára vražením
    mrkve do předku kapoty, na přední okno vám někdo hodil krajíc celozrnného
    chleba, bojíte se že pokud použijte stěrače, poškodíte si stěrače, následně
    nastrkejte do rádia a budíků sušené ovoce, pociťte jeho vůni a ovědomte si
    že si nic nepustíte a ručička rychloměru se bude zasekávat a sušenou
    pochutinu, jakmile si sednete za volant, pod sebou slyšíte čvachtání a
    cítíte jak se vám šťáva z borůvek a jahod nasakuje do kalhot. Na svého
    spolujezdce, který je tam určitě dal, začněte házet vejce které jsou
    uloženy mezi sedadly, SEE, spolujezdec je celý od žloutků a skořápek.
    Nemůžete otevřít zadní dveře díky tomu že je tam plno různorodých ořechů a
    semínek, které dále přisypávate skrz okýnko. Pak si všimnete, že na střeše
    máte masivní pomeranč, v životě jste větší neviděli. Jak se tam dostal to
    je záhadou, ale line se zněj velmi silná vůně. Otevřete kufr, a to jste
    neměli dělat. V kufru je totiž plno ryb a odér rybiny vás zasáhne naplno.
    Když se sehnete k výfuku, vidíte že zněj roste brokolice a kapusta. V
    neposlední řadě jsou vaše pneumatiky z batátů. No vážně, z batátů!
</p>
<p>
    Nyní projděte skrz naskz vaše auto a zkuste vidět všechny věci které jsem
    zmínil. Pokud se nějaký pojem neujal, vraťte se k němu a zkuste silnější
    asociaci.
</p>
<p>
    Co jsme se nyní společně naučili je 14 jídel jenž podporují vitalitu a
    udržují vaši mysl aktivní a v pozoru. Ne jenomže tento list umíte postupně,
    vy jej umíte i obráceně a na přeskáčku. Dokážete odpovědět na otázku co
    máte na zadních sedadlech? A na čem jste to na sedadle řidiče seděli? Jak
    jistě pozorujete, je to velmi jednoduché. Proč to tak tedy je?
</p>
<p>
    Musíme si uvědomit, že jsme zkombinovali něco co již známe s novými
    informacemi, neboli analyticky STM+LTM=MTM. Nové informace lze jednoduše
    zachytávat na již uložené LTM. Použitím této metody také systematicky
    organizujete informace, a tedy víte kde je hledat. Okamžitě si vybavíte
    vaše auto a váš mozek již sám odvozuje co jste do něj dali a jak jste jej
    jídlovitě vylepšili. Jelikož jste přidělili informacím jejich místo, máte v
    hlavě pořádek a nemusíte dané informace lovit v moři.
</p>
<p>
    Nyní přejdeme k abstraktním pojmům.
</p>
<p>
    Naučme se Sedm návyků velmi efektních lidí. Když budete tyto pojmy nosit s
    sebou, snadněji si můžete ověřit, zda-li se jimi řídíte. Nezapomeňte, že
    čím více toho víte, tím snadněji se ještě více naučíte (SEE).
</p>
<p>
    <img
        width="605"
        height="454"
        src="static/img/CAR.jpg"
    />
</p>
<p>
    1. Proaktivita - Představte si profesionálního hráče golfu, který je
    zároveň aktivní jako včela
</p>
<p>
    2. Přemýšlejte nad koncem - Vaše mysl běží závod a přemýšlí kdy už bude v
    cíli
</p>
<p>
    3. Hlavní věci na první místo - Výherce závodu dáme na bednu na první místo
</p>
<p>
    4. Win/Win - Vyhrát nemusí jen jeden, představte si více pohárů pro první
    místo
</p>
<p>
    5. Snažte se nejdřív porozumět, až pak být pochopen - Sedící člověk na
    pláži se snaží porozumět neznámému okolí, až pak může dělat něco jiného
</p>
<p>
    6. Spolupráce - Značka, jež balancuje na kraji automobilu musí použít
    spolupráci všech svých smyslů
</p>
<p>
    7. Nabruste si pilu (Bez dobrého nářadí se špatně dělají věci) - Představte
    si ostrou pilu jak se zařezává do pneumatik automobilu
</p>
<p>
    Snažte se použít co nejméně obrazů při zapamatování si nejvíce. Čím
    jednodušší si to pro sebe uděláte, tím méně se budete cítit zavaleni novými
    informace (pocit, že vám pukne hlava).
</p>
<p>
    1,2,3 jsou vaše Osobní výhry: předek auta náleží pouze řidiči. 4,5,6 -
    Veřejné výhry: Do svého auta dovolíte sednout i jiným lidem než vy. 7 je
    mimo auto: Značka kontroluje, jak se auto na cestě ovládá.
</p>
<p>
Vřele doporučuji shlédnout toto <a href="https://www.youtube.com/watch?v=ktlTxC4QG8g">video</a> pro
    vysvětlení jednotlivých pojmů.
</p>
<p>
    V této kapitole jsme se tedy naučili 21 kousků informací, které nám pomůžou
    na cestě k Unlimited Memory. Metoda CAR vám pomůže zorganizovat informace,
    které patří k sobě avšak mají různé významy. Samozřejmě můžete používat
    jakékoliv objekty ve vaší LTM, ať je to váš pokoj či dům, zahrada, vaše
    okolí či město. Vyvarujte se ovšem jednotvárným celkům jako vícero poliček,
    šuplíku či kartoték.
</p>
<h2>
    3.2 Pro zapamatování použijte své tělo
</h2>
<p>
    „The music of your life is far better played with all the fingers of your
    Multiple Intelligences performing their magic on the keyboard of your
    existence" - Tony Buzan
</p>
<p>
    Každý člověk má vícero druhů inteligencí, díky tomu je každý z nás
    jedinečný a úžasný. Dobrá metoda pro zapamatování si těchto inteligencí je
    tzv. Metoda těla. Budeme používat naše tělo pro zapamatování nových
    informací. Nyní se tedy naučíme 10 druhů inteligencí. Tyto pojmy budou
    abstraktní, tudíž budeme muset užít naší kreativitu pro vytvoření
    dostatečných SEE asociací.
</p>
<p>
    V chodidlech uložíme Kreativní inteligenci. Představte si že stojíte na
    rozsvěcené žárovce (taková ta jež se používá pro znázornění nápadu), je
    velmi žhavá poskakujete na ni a pálí vám vaše chodidla.
</p>
<p>
    Osobní inteligence se nachází ve vašich kolenou, je to zodpovědnost.
    Představte si, že pokud musíte nějakou osobu nakopnout, budete za to
    zodpovědni.
</p>
<p>
    Na vašich stehnech se pořádá seznamovací párty, je to zosobnění vaší
    Sociální inteligence, opravdu si představte DJ pult a létající nafukovací
    zvířata nad davem na vašich stehnech.
</p>
<p>
    Následující inteligenci uložíme do vašeho pasu. Bude to Spirituální
    inteligence. Představte si že kolem pasu vám jezdí papež v papamobilu nebo
    Ouroboros se vám neustále obtáčí kolem pasu. Nyní si zopakujte všechny
    dosud uložené inteligence. Kreativní, Osobní, Sociální, Spirituální.
</p>
<p>
    Dále je vaše Fyzická inteligence. Uložte ji do břicha, představte si že vám
    je špatně a fyzicky se tedy necítíte dobře nebo použijte pozitivní obraz,
    kdy po fyzickém cvičení budete mít na břiše dokonalou vánočku.
</p>
<p>
    V levé ruce uložte Smyslovou inteligenci. Levou rukou si utírejte nos,
    mněte si oči a strčte si prst do ucha.
</p>
<p>
    V pravé ruce bude vaše Sexuální inteligence. Zde si vymyslete co uznáte za
    vhodné.
</p>
<p>
    Takže máme Kreativní, Osobní, Sociální, Spirituální, Fyzickou, Smyslovou a
    Sexuální inteligenci.
</p>
<p>
    Nyní k vašim ústům přiřadíme Verbální inteligenci. Když můžete, pomožte si
    jednoduchostí, ale stejně použijte metodu SEE.
</p>
<p>
    Na vašem nose je prázdný prostor, ke kterému se blíží vesmírná loď
    (spaceship), na váš nos následně přistane. Toto je prostor pro vaši
    Prostorovou inteligenci.
</p>
<p>
    Vaše vlasy se zakrucují a vytvářejí algebraické vzorce, kroutí se do nul,
    šestek a devítek, tvoří smyčky a kruhy. Zde uložte vaši Numerickou
    inteligenci.
</p>
<p>
    Nyní si zopakujme a doplňme náš Body List:
</p>
<p>
    <h4><strong>Kreativní a Emoční inteligence</strong></h4> - vaše nohy vytváří pohyb kreativní způsobem
    a při běhu se cítite emočně jinak než když ležíte
</p>
<p>
    1. Kreativní inteligence
</p>
<p>
    2. Osobní inteligence
</p>
<p>
    3. Sociální inteligence
</p>
<p>
    4. Spirituální inteligence
</p>
<p>
    <h4><strong>Tělesné inteligence</strong></h4> - jsou lokalizovány na největší části vašeho těla,
    torzu
</p>
<p>
    5. Fyzická inteligence
</p>
<p>
    6. Smyslová inteligence
</p>
<p>
    7. Sexuální inteligence
</p>
<h4>
    <strong>Tradiční Inteligence spojené s IQ</strong>
</h4>
<p>
    8. Verbální inteligence
</p>
<p>
    9. Prostorová inteligence
</p>
<p>
    10. Numerická inteligence
</p>
<p>
    V dnešní době inteligence je velmi důležité věděť o vašich úžasných
    inteligencích. Na vaše tělo se budou velmi snadno nabalovat další zmínky a
    jednoduše si je dáte do souvislostí. Například když se někdo zmíní o IQ
    testech, hned si vzpomenete že tyto testu ohodnocují pouze tři inteligence
    které máte uloženy na své hlavě.
</p>
<p>
    Mnoho znás bylo naučeno že je buď chytrá nebo hloupá. Nyní však můžete
    udělat analýzu vaší osobnosti, za mě třeba vím že mám rezervy ve Verbální a
    Sociální inteligenci.
</p>
<p>
    Metodu těla lze užít na vše od nákupních seznamů až po učení se na zkoušky.
    Důležité je však vždy užít metodu SEE, pociťujte, přehánějte a rozpohybujte
    vaše informace, a to nejlépe ještě nějakou humornou cestou. Můžete mít své
    informace ve vlastních rukou.
</p>


 {% endblock %}








































