{% extends "base.html" %}
{% block content %}

<h1>
    How to learn stuff
</h1>
<p>
    Prvním krokem mého sebevzdělání v rámci tohoto blogu je samotný proces
    učení. Jakožto první článek, bude především adresován mě, aby mi sloužil
    jako průvodce světem dlouhodobého učení. Velmi jsem se inspiroval knihou
    Unlimited Memory (doplnit). Budu citovat některé výroky, které se mi
    obzvláště líbily. Článek bude psán zkratkovitě, pokud se chcete dozvědět
    více, přečtěte si zmíněnou knihu, následně udělám i výtah informací pomocí
    tzv. mindmap, která vám pokaždé připomene co jste se zde naučili společně s
    rozebranými metodami učení. Už mě nebaví zapomínat věci a učit se na
    zkoušky jen proto, abych dané vědomosti za 14 dní zahodil. Toto je mou
    motivací.
</p>
<p>
    You can have sucess or excuses, but you can´t have both.
    <br/>
    Every excuse you accept makes you weaker.
    <br/>
    Do any of your excuses really enhance and empower your life?
</p>
<p>
    Mindmap of Unlimited memory:
</p>
<p>
    WHY
    <br/>
    Každý krok by měl začít tímto slovem. Proč. Proč se chci danou dovednost
    naučit, co mi to dá? Posune mě dál? Sepišme si tedy každý list důvodů, za
    mě tento:
</p>
<p>
    Chci být každý den dále než ten předešlý a naučit se novým věcem
    <br/>
    Chci být lepší osobou než včera
    <br/>
    Chci využívat svůj mozek jako úložiště vědomostí bez značných problémů
    <br/>
    Chci zkrátit dobu učení
    <br/>
    Chci si dokázat že na tuto dovednost mám
    <br/>
    Tato dovednost bude základním kamenem pro strukturalizaci a naučení dalších
    témat (emoční inteligence, banter, drawing, psychological analytics)
    <br/>
    Nikdy není pozdě ani brzy, je však třeba začít hned nebo nikdy
    <br/>
    <br/>
    BELIEFS
    <br/>
    Jseš to čemu věříš, toto je velmi důležité si uvědomit, proto použij
    následující víry:
    <br/>
    <br/>
    Nejsi limitován vrozenými limity
    <br/>
    Paměť je tvojí identitou, tvým já. Zlepši ji a zlepšíš i sebe
    <br/>
    Tvá paměť je neuvěřitelně velká, i když si to neuvědomuješ
    <br/>
    Zabývej se i kladnou stránkou své paměti
    <br/>
    Otevři svou mysl všem možnostem
    <br/>
    Sebereflexe je proklatě důležitá
</p>
<p>
    QUESTIONS AND INSIGHTS
    <br/>
    V rámci sebereflexe je nutno si položit následující otázky. Člověk musí své
    víry testovat a rozšiřovat, jinak je uvězněn v jejich mezích. Nejvíce se mi
    vybavuje Shia LeBoeuf: Yes you can! Just do it! Tento výrok bez jaké kolik
    pochyby by měl být vaší oporou. Vše je možné pro neuvězněnou mysl.
    <br/>
    <br/>
    Co tě limituje? Nejsi to ve skutečnosti ty sám?
    <br/>
    Nemůžeš se zlepšit nebo pro to neděláš dost?
    <br/>
    Čemu věříš o své mysli a potenciálu?
</p>
<p>
    If you don´t like how things are, change it! You´re not a tree.
</p>
<h1>
    1. Koncentrace
</h1>
<p>
    Co nás činí zajímavými oproti jiným zvířatům je, že dokáže přemýšlet o
    myšlení. Koncentrace je dovednost jako každá jiná, a tedy je ji možno
    zdokonalovat. V dnešní době žijeme v iluzi aktivity, do ničeho nevkládáme
    celé své bytí v jeden okamžik. Vláda nad našimi emocemi je klíčová pro
    akvizici dobré koncentrace. Pro vaši příští činnost, zkuste se na ni
    soustředit na 100%, uvidíte kolik si více zapamatujete a zjistíte. Pustě si
    třeba video SciShow na Youtube, nejlépe takové, které vás osobně bude
    zajímat, soustředtě se na něj, analyzujte jej z vícero úhlů s otevřenou
    myslí, odolejte nutkání číst komentáře nebo „jen poslouchat“ při
    proklikávání záložek. Vše ostatní počká, teď jste tady pouze vy a dané
    video.
</p>
<h2>
    1.1Váš vnitřní hlas
</h2>
<p>
    Samozřejmě, každý má svůj vnitřní hlas. Ten hlas často našeptává, a velmi
    často tzv. „buzeruje“. Člověk si snadněji všimne špatného než dobrého,
    zkuste tedy svůj hlas „načapat“ ve svých dobrých chvílích. Kdy jste se
    dneska dobře soustředili? Pochvalte se.
</p>
<p>
    Často tento hlas přichází s velmi negativními emocemi, šeptá že jste
    bezcenní a zbyteční. V žádném případě s ním nesouhlaste, je to jen prchavá
    myšlenka, které pouze vy dáváte možnost růst a přiživujete ji. Když si dáte
    špatné příkazy, nemůžete očekávat že se stanou dobré věci.
</p>
<h2>
    1.2Multitasking
</h2>
<p>
    Největším nepřítelem koncetrace je multitaking. Multitasking je mýtus. Vždy
    se zabýváme jednou věcí sériově s druhou, nikdy však paralelně (možné pro
    lidi s oddělenými mozkovými hemisférami). Když děláme více věcí najednou,
    ve skutečnosti mezi nimi skáčeme a žádné z nich se efektivně nevěnujeme.
    Posledními roky si lidé navykli „checkovat“ emailovou schránku, facebookové
    notifikace, twitter či různorodé stránky s novinkami, já nejsem vyjímkou.
    Již nedokážeme řídit automobil bez rádia či zapnout televizi a sledovat
    jeden program.
</p>
<p>
    Multitasking je známý tím, že zpomaluje lidi o 50% a zvyšuje chybovost o
    50%. Vyhraďte si proto čas a dělejte pouze jednu danou věc celým svým
    bytím. Lidé jsou náchylní k tomu, aby jejich koncentrace byla roztroušena.
    Přece jen slyšíme, vydíme, cítíme, hmatáme a pociťujeme najednou. Z
    evolučního hlediska je to jistě výhodné jako prevence před predátory, pro
    odvedení úlohy moderní doby již moc ne. Pokud se plně soustředíte, vaše
    mysl bude tam, kde ji zrovna potřebujete.
</p>
<p>
    Při vašem dalším učení se pokuste zabývat na daný časový úsek pouze na něj
    ( mě se osvědčila metoda 20/5 – 20 minut plné koncentrace a 5 minut pauza,
    dejte si však pozor, potřebujete časovač, jinak se v těch pěti minutách
    zaseknete i tři hodiny a více).
</p>
<h2>
    1.3Učte se se záměrem
</h2>
<p>
    Lidi bezhlavě čtou informace, očekávajíce že si je zapamatují. Takto to
    však pro náš mozek nefunguje. Podívejme se na metodu <strong>PIC</strong>:
</p>
<p>
    <strong>P</strong>
    urpose – Neustále mějte na zřeteli proč čtete nebo proč se něco učíte.
    Pokud nevíte co chcete, jak budete vědět že jste to získali? Učení se se
    záměrem zvýší vaši koncentraci, porozumění, zapamatelnost i organizavanost
    vašich myšlenek. Pokud si nebudete jistí proč něco děláte, můžete to dělat
    pořád dokola bez značného posunu.
</p>
<p>
    <strong>I</strong>
    nterest – Pokud nemáte zájem o danou problematiku, zapamatovat si
    „nezajímavé“ informace bude velmi těžké. Zase naopak pokud jste pro nějaký
    směr nadchnutí a zainteresovaní, informace se vám samy cpou do hlavy. Za mě
    to jsou třeba počítačové hry, pamatuji si všechny jednotky Warcraftu 3 či
    hrdiny Doty a LoL, aniž bych se je vědomě učil. Váš mozek je jednoduchý,
    nebude podávat výkony pro něco, co vás nebaví, spíše to odbyde aby se mohl
    zajímat pro vás zajímavějším věcem. Vaše mysl se vždy bude ubírat k věcem
    které vás zajímají.
</p>
<p>
    Jak tedy z nudných informací udělat zajímavé? Každou nudnou informaci lze
    ozvláštnit otázkami typu Co mi to přinese? Jak se toto téma využívá v praxi
    na věci které mě zajímají? Jak se to pojí s mým životem? Jak mi mi to
    pomůže v budoucnu nebo pro uskutečnění mých cílů?
</p>
<p>
    There are no unintersting things, only uninterested people
</p>
<p>
    <strong>C</strong>
    uriosity – Pěstujte svoji zvědavost, díky ní se nebudete nikdy nudit.
    Přemýšlejte o věcech kolem vás, jak fungují a následně jak by jste je
    vylepšili, přemýšlejte o vaší mysli. Proč mi to nejde? Nejdete na to
    špatně? Máte blbý den? NE! Pozor na výmluvy, pokládejte si pozitivní
    otázky. Příkladem mohou být následující:
</p>
<p>
    Jak mi tyto informace pomůžou realizovat mé cíle?
    <br/>
    Jak mohu tyto informace aplikovat pro zlepšení své práce či sebe sama?
    <br/>
    Jak mě tyto informace učiní více významným? Jak mě obohatí?
</p>
<p>
    If you want to cure boredom, be curious. Then, you´ll want to study, you´ll
    be genuinely interested in learning stuff
</p>
<h2>
    1.4Přestaňte si dělat starosti
</h2>
<p>
    Jelikož nemáte psychotronické schopnosti, přestaňte si dělat starosti nad
    věcmi, které nemůžete ovlivnit. Pokud se soustředíte pouze na sebe, budete
    mít čistou hlavu. Nepřemýšlejte nad otázkami Co kdyby?, raději si položte
    Co budu dělat pokud... Nemusíte procházet neustále scénáře, které si
    vymyslíte. Pokud vaše mysl často utíká k těmto hrůzným situacím, vyřeště si
    je právě teď. Co kdyby nic neřeší. Jak můžete vědět výsledek, když si jej
    pouze domyslíte?
</p>
<p>
    Chcete zlepšit svou koncentraci nebo ne? To je jediná otázka na kterou
    stojí odpovědět, zbytek je dělání si starostí.
</p>
<h1>
    2. Část druhá
</h1>
<p>
    Fotogenická paměť jak si ji mnoho lidí představuje neexistuje. Perfektní
    paměť je dovednost, ne vrozený dar. Jak tedy dostat informace do mozku tak
    aby se zachytily a netvořili tzv. efekt jedním uchem dovnitř a druhým ven?
    Je nutno přivést informace k životu.
</p>
<p>
    Pokud pasivně čtete, téměř nic si nezapamatujete. Naopak ku příkladu
    čtete-li novelu či nějaký příběh, představujete si dané situace a
    jednostivé postavy. Využíváte své kreativity, jež je právě klíčovou složkou
    neomezené paměti.
</p>
<p>
    Mnoho lidí se snaží zapamatovat si informace na základě zvuků, snaží se
    znovu a znovu opakovat dané slovo či text a doufají, že se jim v hlavě
    nějak informace vryje. Navíc, pokud si pamatujeme zvuk, tak když jej
    hledáme v naší paměti, musíme najít jeho začátek abychom rozkryli
    požadovaný informační blok. Proto je vhodnější v paměti ukládat obrazy,
    které se samy navádí aby se v naší mysli poskládaly celé. Budeme tedy pro
    záměry pamatování užívat představivost.
</p>


 {% endblock %}








































