{% extends "basic.html" %}
{% block content %}
<div class="avatar">
    <img src="static/img/avatar.jpg" class="img-circle img-responsive img-raised">
</div>
<div class="name">
    <h3>Martin Černil</h3>
</div>
<p style=>This blog is about creating a solutions to my memory problems and to act as my portfolio.
What i plan to do is make reviews, educational articles. I will be mainly focusing on self-development,
education in general, my projects and school subjects.

I´m a young guy from Czech Republic studying university in Brno. My dream is to do a job that fulfills me
and I plan to do that through trying everything I possibly can to find it.

About this project: I plan to regularly update this blog, introducing new functions, learning more about Flask,
heroku and postgres
</p>
{% endblock %}