{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Welcome to news section!
                </h2>
                <p>
                    This part of the blog currently serves as a changelog. Stay tuned for further updates.
                </p>
            </div>
            <div class="panel-group" id="panel-79027">
                <div class="panel panel-default">
                    <div class="panel-heading">
                         <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-79027" href="#panel-element-350064">Version 1</a>
                    </div>
                    <div id="panel-element-350064" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                            <div class="col-md-5">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                #
                                            </th>
                                            <th>
                                                Change
                                            </th>
                                            <th>
                                                Date
                                            </th>
                                            <th>
                                                Status
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="warning">
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                ScrollSpy
                                            </td>
                                            <td>
                                                26.5.2017
                                            </td>
                                            <td>
                                                Spying broken
                                            </td>
                                        </tr>
                                        <tr class="danger">
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                About page
                                            </td>
                                            <td>
                                                26.5.2017
                                            </td>
                                            <td>
                                                Planning phase
                                            </td>
                                        </tr>
                                        <tr class="success">
                                            <td>
                                                3
                                            </td>
                                            <td>
                                                Generating article chapters
                                            </td>
                                            <td>
                                                20.5.2017
                                            </td>
                                            <td>
                                                Finalized
                                            </td>
                                        </tr>
                                        <tr class="warning">
                                            <td>
                                                4
                                            </td>
                                            <td>
                                                Article about Blender+shortcuts table
                                            </td>
                                            <td>
                                                26.5.2017
                                            </td>
                                            <td>
                                                Pending
                                            </td>
                                        </tr>
                                        <tr class="danger">
                                            <td>
                                                5
                                            </td>
                                            <td>
                                                Main page
                                            </td>
                                            <td>
                                                26.5.2017
                                            </td>
                                            <td>
                                                Designing needed
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-6">
                                <dl>
                                    <dt>
                                        Update 1
                                    </dt>
                                    <dd>
                                        Scrollspy je broken. Nejenže nejde posunout odkazy javascriptu, ale přestal spyovat "body" článku. Zatím neřeším.
                                    </dd>
                                    <dd>
                                        Jelikož je tento blog odkazován již na LinkedIn, je třeba vytvořit osobní profil na těchto stránkách.
                                    </dd>
                                    <dt>
                                        Scripting
                                    </dt>
                                    <dd>
                                        Vytvořil jsem script na automatické generování kapitol článků. (Python)
                                    </dd>
                                    <dt>
                                        Články
                                    </dt>
                                    <dd>
                                        Velmi by pomohl souhrnný článek Doporučené věci, jež už má záložku v menu, něco v podobném stylu jako tato stránka s různými vzdělávacími obory.
                                    </dd>
                                    <dd>
                                        Blender článek se zkratkami by bodl.
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                         <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-79027" href="#panel-element-776885">Collapsible Group Item #2</a>
                    </div>
                    <div id="panel-element-776885" class="panel-collapse collapse">
                        <div class="panel-body">
                            Rezervováno pro Update 2
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}